[2018-04-18 16:59] joansola opened #1 "Basic API"
This is a first attempt. Derived classes must implement all methods:

[code]

[2018-11-24 13:30] artivis opened #27 "Library renaming"
- `lieli` reads `lili` - LIE LIbrary
- `lilly` - LIe aLgebra LibrarY
- `lialle` - LIe ALgebra Lirary for state Estimation
- `cerise` - miCro liE algebRa lIbrary for State Estimation
- `merit` - Micro liE algebRa lIbrary for state esTimation

[2018-11-24 13:35] artivis opened #28 "Update ominus Jacs"

[2018-12-07 12:17] artivis opened #34 "Add documentation"
Related #33

[2018-12-07 12:18] #27 closed, assigned to artivis

[2018-12-07 12:19] #1 closed, assigned to nobody

[2018-12-07 12:21] artivis opened #35 "Fix `act` throughout the library"
the `act` operation my be wrong throughout the library, this need to be double checked.
Moreover it need to be generalized somehow so that an element can act on e.g. point/vector/etc...

[2018-12-11 08:29] joansola opened #39 "Tangent and Vector issues"
As tangent elements are vectors after all, they should be assignable. This include also vector expressions. The following shoudl work.

Here, `t` is a tangent element, `u,v` are vectors, and `K` is a matrix. Sizes are of course compatible.

[code]
In particular, I had to write this for it to work:
[code]
which means that `t=v` works, but that `t=<vector expression>` does not work.

[2018-12-17 17:20] #35 closed, assigned to artivis

[2018-12-24 09:08] #39 closed, assigned to artivis

[2018-12-24 14:32] joansola opened #47 "Match lib and PDF docs, especially in eq numbering and cross-linking URLs"
Make sure:
  - lib doc has all eq numbers according to a particular version of the paper -- @artivis
  - This version is available as a link from the lib's doc  -- @joansola
  - This version's PDF has a reference to the library  -- @joansola

[2018-12-28 19:03] joansola opened #48 "Eqs of SE2"

[2018-12-28 19:03] #48 closed, assigned to nobody

[2018-12-28 19:03] joansola opened #49 "Eqs of SE3"

[2018-12-28 19:03] joansola opened #50 "Eqs of SO2"

[2018-12-28 19:04] joansola opened #51 "Eqs of SO3"

[2018-12-28 21:50] #49 closed, assigned to nobody

[2018-12-28 22:05] #50 closed, assigned to nobody

[2018-12-31 11:01] #51 closed, assigned to nobody

[2019-01-09 19:42] #47 closed, assigned to nobody

[2019-01-15 17:18] #34 closed, assigned to nobody

[2019-01-20 11:02] #28 closed

[2019-01-22 14:02] joansola opened #59 "Tangent times scalar product"
We like to have the following API extension:

`SO3Tangent::operator * (SO3Tangent, scalar)`

as in

[code]

also for other groups

[2019-01-22 14:32] joansola commented on #59
No longer  necessary

[2019-01-22 14:32] #59 closed

[2019-02-01 00:15] versatran01 opened #62 "Elaborate a bit on 'a note on jacobians'"
Thanks for this work.

Could you add a bit more explanation to 'a note on jacobians' section in the readme?
For example, how should one use manif with ceres correctly.

[2019-02-01 08:16] artivis commented on #62
Thanks for your interest in this work.

The short story is that you cannot use the analytical Jacobians that `manif` provides with `Ceres` (see e.g. [issue 387](https://github.com/ceres-solver/ceres-solver/issues/387)). I will update the readme with some more information about it.

However you can use the autodiff feature of `Ceres`. This package provides some helper classes (e.g. [`CeresLocalPara

[2019-02-12 18:52] versatran01 opened #66 "Readme example is broken"
SO2 -> SO2d.

[2019-02-13 08:44] joansola commented on #66
Thanks for pointing this out! We'll fix it asap.

[2019-02-13 12:13] #66 closed

[2019-02-18 04:20] qqfly opened #68 "Improve Randomization"
Manif uses random tangent space element and expMap to generate a random Lie group element:
[setRandom](https://github.com/artivis/manif/blob/devel/include/manif/impl/lie_group_base.h#L370) `coeffs_nonconst() = Tangent::Random().exp().coeffs()`

This is not a good idea. Because uniform distribution of tangent space may not lead to uniform distribution of Lie group.

I used the following code to tes

[2019-02-18 16:58] joansola commented on #68
Hi Quiang, thanks for pointing this out and for having taken the time to produce this example.

Indeed, our sampling method is not good. We started using it in dummy tests and never improved it. We will implement a proper algorithm soon, based on http://planning.cs.uiuc.edu/node198.html.

[2019-02-19 14:58] qqfly commented on #68
Hi Joan. I made a small mistake before. Matlab quaternion is of the form q = [w x y z], rather than q = [x y z w].
so I modified the cpp file as follows:
[code]

However, the result was still not good:
![tangentexp](https://user-images.githubusercontent.com/6135575/53023293-e51b7a00-3497-11e9-82ec-fb1c00efb7fd.jpg)
(Both axis and angle are NOT IN uniform distribution)

Besides, I tested the algori

[2019-02-19 15:29] joansola commented on #68
Hello Quiang,

I would say Sophus is doing the right thing. We have not yet investigated this issue fully.

However, in http://planning.cs.uiuc.edu/node198.html Eq. 5.15, which of the entries did you take as the real part? In my opinion it must be the last one, since it contains a cosinus. But I talk open-loop.

[2019-02-19 15:49] qqfly commented on #68
For http://planning.cs.uiuc.edu/node198.html, the quaternion is in the form of [w, x, y, z], in other word, the first element is the real part. (I find the quaternion definition in http://planning.cs.uiuc.edu/node151.html#12337).

This is the Eigen's realization: [unitRandom()](https://github.com/eigenteam/eigen-git-mirror/blob/master/Eigen/src/Geometry/Quaternion.h#L644). (constructor: [Eigen::Qu

[2019-02-19 17:00] joansola commented on #68
The thing is: I am not 100% convinced that independently sampling 4 variables, that is  (x, y, z) axis and theta angle of rotation , one obtains a uniform SO3 distribution. Since SO3 has 3DoF, the 4 variables sampled cannot (should not?) be independent. So Sophus might not be doing the right thing.

Besides, from reading [this](http://refbase.cvc.uab.es/files/PIE2012.pdf) and [this](https://pdfs.s

[2019-02-19 18:10] joansola commented on #68
The interpretation of "uniformity" in  http://planning.cs.uiuc.edu/node198.html is provided by the Haar measure, which essentially determines that, if `R1` and `R2` are two SO3 rotations separated by an angle `a(R1,R2)`, then this angle does not chenge upon modifying `R1` and `R2` by the same amount `R`, that is, `a(R*R1,R*R2)=a(R1,R2)`.

The same can be applied to quaternions `q1` and `q2`, with

[2019-02-20 02:57] qqfly commented on #68
You are right. Close this issue.

[2019-02-22 08:54] joansola commented on #68
Reopen till fix arrives.

Fixing involves non-trivial work on the specialization of the Random() function.

[2019-03-10 15:14] #68 closed

[2019-04-09 17:50] versatran01 opened #76 "FindEigen3 dose not find eigen"
After removing it cmake correctly finds eigen (installed in /usr/local/include)

[2019-04-09 18:01] artivis commented on #76
Hi, do you know if this issue recent ??
Can you please provide some more info about your setup ?

[2019-04-09 18:11] versatran01 commented on #76
I have eigen 3.3.7, ubuntu 18.04.
I think eigen now exports all the cmake stuff correctly so there's no need to provide a custom findeigen.cmake.

[2019-04-09 18:43] artivis commented on #76
Ok thanks, I will investigate :+1:

[2019-05-11 08:44] extr15 opened #78 "Question about Jacobian in example se2_sam/se3_sam.cpp"
Hi, thanks for your work!
In your example `se2_sam.cpp`(or `se3_sam.cpp`), for the prior measurement, the residual is:
`r=poses[0].log()`, so I think the jacobian is:
let `t = Log(poses[0])`,
$ J = \partial Log(poses[0]) / \partial poses[0] = J_r^{-1}(t) $
so this line:
        `J.block<DoF, DoF>(row, col) =  MatrixT::Identity();`
should be:
`J.block<DoF, DoF>(row, col) = poses[0].log().rjacinv();

[2019-05-16 18:09] joansola commented on #78
Hello extr15 -- whatever your name is!

Yes you are right. What happens is that this factor is so trivial that it works anyway. But indeed one should be using the derivative of `log()` which is `Jr^{-1}`. I will double check it and change it if necessary when I have a minute.

As a side note, your suggested code however could make use of the Jacobian facility of manif, by doing
[code]

Joan

[2019-05-18 09:04] joansola commented on #78
Hello. I had a look at this. In principle, you need Jr as indicated above. However, this Jacobian is the Identity at the point of evaluation, which is the origin, so the math in the code is perfectly fine.

I am evaluating if the example code should be made clearer. I possibly update the comments on this section first.

Thanks again

[2019-05-18 17:18] joansola commented on #78
Fixed. Waiting for PR acceptance.

[2019-05-20 15:22] #78 closed

[2019-05-23 17:08] joansola opened #84 "Feature: support for composite groups"
In several developments it is handy to consider composite manifolds, such as T3xSO3 instead of SE3, or the IMU implementation using T3xT3xSO3.

In the paper, a notation is introduced so as to be able to define, for composite manifolds, the full family of operators: composition, inverse, exp, log, plus and minus, mainly. It is also possible to produce the Jacobians as a block-concatenation of the j

[2019-05-23 18:21] artivis commented on #84
I actually considered that not so long ago and it is not trivial, especially if we want it variadic.
Let us leave this open for later reference.

ps- We would have to add a `Tn` group too.

[2019-05-23 20:59] joansola commented on #84
The T(n) group is trivial

The composite is nice, it would save a lot of coding in the ProcessorMotion classes in wolf

[2019-05-23 21:05] artivis commented on #84
I know T(n) is trivial but if we want a generic/variadic composite group, (as to compose e.g. T3xT3xSO3) then we will need to be able to call some manif API on the T(n) blocks.

[2019-05-23 21:06] joansola commented on #84
I said variadic just like this. I have no idea actually. Maybe there are better ways, traits, or whatsoever...

[2019-05-23 21:07] joansola commented on #84
but yes, Tn is necessary if we want the composite, clearly

[2019-05-24 17:15] #76 closed

[2019-05-25 02:53] extr15 commented on #78
Thanks for your reply and work!

[2019-05-25 11:21] joansola opened #85 "`manif_INCLUDE_DIRS` has duplicate path"
The `cmake` code:
[code]
produces
[code]
where `/usr/local/include` is appended twice! Then, the line
[code]
produces not surprisingly
[code]

[2019-05-25 13:41] joansola opened #86 "Jacobians using Eigen::MatrixXs"
I have trouble using `Eigen::MatrixXs` as the Jacobians. They are of the correct size, but I guess manif expects these matrices to be of static size?

my example code:

[code]
The error msg when failing is:
[code]

[2019-05-25 14:15] artivis commented on #85
This is surprising because I have packages that include manif without any issues. But after checking I do have this duplication too. I'll investigate.

In the meantime, mind that you can also link `manif` as if it is a library:
[code]

[2019-05-25 15:48] artivis commented on #86
How do you include **manif** ??

The following snippet compiles:
[code]

[2019-05-25 17:07] joansola commented on #86
Just like so:
[code]
and it does not compile (at least on OSX):
[code]

[2019-05-25 17:09] joansola commented on #86
Now I see that it does not compile with `Eigen::Matrix3s` neither; I can only compile if I use `SE2<Scalar>::Jacobian`

[2019-05-25 17:28] artivis commented on #86
That's odd. Are you sure the `Scalar` typedef is the same everywhere ?

[2019-05-25 17:56] joansola commented on #86
I thought about this. I define the types in **wolf** as:
[code]
where `Scalar` is the wolf Scalar. Then, the Eigen types are also defined with the wolf Scalar.

All scalars are in fact `double`s.

[2019-05-25 18:04] joansola commented on #86
Is the manif Jacobian type `RowMajor` or `ColumnMajor`?

Because with this compiles:
[code]
But with this it does not
[code]
So that's the thing.

For any reason WOLF uses the RowMajor style...

[2019-05-25 18:39] joansola commented on #86
OK I see this is a wolf issue rather than manif. Closing.

[2019-05-25 18:39] #86 closed

[2019-05-25 18:49] artivis commented on #86
Maybe manif should support that option, I'll add it to the todo list.

[2019-05-25 18:56] artivis commented on #85
This 'duplication' arise from the fact that **manif** export both a `BUILD_INTERFACE` and an `INSTALL_INTERFACE` in its `target_include_directories` that is later used to populate `manif_INCLUDE_DIRS`. Not sure if this is actually an issue/bad practice. It still should work fine tho.

[2019-05-26 20:52] joansola commented on #84
I think this feature is a must if we at **wolf** are to use manif.

In particular, we are interested in having position, orientation and velocity separated in independent units, so that they can be fixed / estimated individually.

Then, since most factor residuals have automatic differentiation, this is performed in a block basis, which is equivalent to performing the Lie operations in a composite

[2019-05-27 08:25] joansola commented on #84
My comment above is inaccurate, or wrong. In fact, there are 3 different views of the translation+rotation thing. They are exposed in Example 7 in the paper.
As a summary, here are their group and tangent elements, and the main operations of `exp()`, `log()` and `compose()`:
- SEn
[code]
- TnxSOn
[code]
- composite <Tn,SOn>
[code]

The main problem, implementation wise, is that sometimes we want S

[2019-05-30 21:02] joansola commented on #84
OK I gave another thought to all this.

What is needed is that, just for Jacobian computation, the groups SE2 and SE3 be treated as composites. That is, that the Jacobians be treated in a per-block basis. I will write an example for the Jacobian of composition.

[code]

Is this doable -- interesting? For us it would solve the problem with elegance, since all this mess would be executed with just `

[2019-05-31 18:07] artivis commented on #84
This approach has the benefit of being simple but only answers the specific case of <T2/3,SO2/3>, it does not generalize to exotic composite. For the specific case of composites, I think we better go a generalized path, even if it is trickier to implement.
Moreover the proposed `compose<BLOCK_JACK>` treats an object as something it is not, therefore introduces confusion.
For your particular use ca

[2019-06-03 06:56] joansola commented on #84
The thing is: there are two different needs:
1. Implementing generalized composites, where all operations are done block-wise: true composite
2. Implementing block-wise Jacobians to groups that are not composite. These include SE2/3 and the future IMU group
What I need right now is 2. In wolf, we do not need 1 for anything.

[2019-06-15 18:08] joansola commented on #84
Do we have any new thought on this?

[2019-06-18 15:37] artivis commented on #84
Hi, nothing new at the moment. I still don't like the idea of implementing block-wise Jacobians to groups that are not composite. Let us discuss it over Slack some time.

[2019-06-21 13:06] artivis opened #87 "Installation on OSX documentation"

[2019-06-21 13:06] artivis opened #88 "Windows support"
Start with a CI job

[2019-06-26 13:45] ferreram opened #89 "Typo in Table 1 of the paper"
Hi guys,
Just to let you know, I think there is a typo in Table 1 in the paper.  In the _Exp(T)_ matrix of SE(3), there should be a 1 instead of a 0 in the bottom right side.
Anyway, thanks for this great work!
Cheers

[2019-06-26 16:12] joansola commented on #89
Hi ferreram, thanks for writing!

Which version of the paper are you referring to?

There is indeed a typo, but in SE2, and the 1 at the bottom right must change to 0, that is:

`M = exp( [theta_x , p ; 0 , 0] ) = [ R , p ; 0 , 1 ]`

This is fixed in my current latex version but I have to upload it to Arxiv -- that would be v6 of the paper.

Anyway thanks a lot!!

[2019-06-26 17:22] ferreram commented on #89
I was referring to the last version of the paper on arxiv (v5 I think).
Yes you're right it is on SE(2), I got confused with SE(3).
Thanks again for your work!

[2019-06-27 06:50] joansola commented on #89
Version V6 is now available on Arxiv. I recommend you switch to it for improved explanations and typo fixes.

[2019-07-02 12:01] #89 closed

[2019-07-02 21:06] alex-konovalov opened #90 "JOSS paper - suggestions"
I am reviewing https://github.com/openjournals/joss-reviews/issues/1371 - couple of suggestions regarding the paper:

- "The library is mathematically grounded in (Solà, Deray, & Atchuthan, 2018)" - perhaps better to write "Mathematical foundations of the library are given in" (or "Mathematical background ..." etc).

- please fix references to Books and wave_geometry - they are not rendered correc

[2019-07-02 22:01] alex-konovalov commented on #90
Also, please check what should be linked to the "Archive" link on the left of page 1. It seems that it does not work.

[2019-07-02 22:14] alex-konovalov commented on #90
Next, I can not find version number so I can not tick "Version: Does the release version given match the GitHub release (branch: joss)?". The bibliograophy cites manif without version, and there are now releases at https://github.com/artivis/manif/releases. I suggest to publish an official release on GitHub with a proper version (see e.g. https://help.github.com/en/articles/creating-releases) and

[2019-07-03 12:37] artivis commented on #90
Hi @alex-konovalov,
thanks for the review. We will address it as soon as possible.

[2019-07-07 19:52] artivis commented on #90
@alex-konovalov, we addressed your remarks as follows,
- `wave_geometry` references the library associated paper together with the github repository
- `boost` reference rendering was fixed
- The `Achive` link is part of the joss paper template, I do not think we have control over this. I believe it will be linked to a valid url once the paper published.
- `manif` will be released soon after a coup

[2019-07-18 23:02] alex-konovalov commented on #90
Thanks @artivis and @joansola !

[2019-08-04 11:59] MichalNowicki opened #94 "Normalization issue for SO3 with multiple rplus operations"
Thanks for this work.

We are considering using _manif_ in our EKF implementation that constantly updates the rotation estimate (SO3) with angular velocity updates stored in Lie algebra. It is working on our own simple LieAlgebra library but it crashes after several iterations when using _manif_. Minimal code that reproduces the error:
[code]
I guess it is related to pull request https://github.co

[2019-08-04 12:07] MichalNowicki commented on #94
Corrected code if someone encounters the same issue:
[code]

[2019-08-04 13:28] joansola commented on #94
Hi Michal, thanks for pointing this out.

It is strange. Some time ago, I was trying in Eigen to produce the same error. I did one million iterations of quaternion composition and regarded the norm of the result at the end. It was 1.000000 and a lot of zeros.

Your experience with much fewer iterations makes me re-consider what I did. I will come later with more comments. Since we re-use quite a l

[2019-08-04 13:53] joansola commented on #87
I do not remember any particular difference in installing manif on OSX. The following should work:

[code]

I just tried and it all works (well, I did not install). The example executables execute normally. All ctests pass.

[2019-08-04 14:55] MichalNowicki commented on #94
For now, from my mobile - it was constructor message about norm not being 1.0. From my debugging, it is almost 1.0 but check is very strict with eps 1e-15. I can post exact message later

[2019-08-04 15:05] joansola commented on #94
The code:
[code]
produces:
[code]
so it seems really that our test is very strict. We will address this shortly. In the meantime, maybe you want to change the `eps_s=1e-15` into `eps=1e-10` and see how it goes for your projects.

thanks again for the feedback.

[2019-08-04 15:08] MichalNowicki commented on #94
Thanks! I will check it and close if it is working fine

[2019-08-04 15:34] artivis commented on #94
@MichalNowicki Thanks for reporting this issue. I was expecting it after merging #93, but not so 'quickly' - in the sense of so few iterations.
We will have to clearly identify which operations lead to the most drift and simply re-normalize after a small check. However we'll have to think carefully about it in order to minimize the performance penalty.
In the meantime you can either, as @joansola

[2019-08-04 15:43] artivis commented on #87
The only difference is probably in installing Eigen, something like `brew install eigen`.

[2019-08-04 15:52] joansola commented on #87
Oh. But then... OK. I think it's like this then:
[code]

[2019-08-04 16:00] joansola commented on #87
Like here https://brewinstall.org/install-eigen-on-mac-with-brew/

[2019-08-04 19:49] MichalNowicki commented on #94
I just tested PR https://github.com/artivis/manif/pull/97 and it works fine for me. Thanks for really fast help!

[2019-08-04 19:49] #94 closed

[2019-08-14 01:51] jordigh opened #98 "constexpr void is not a C++11 feature"
The following test is incorrect:

https://github.com/artivis/manif/blob/joss/CMakeLists.txt#L34

This is because this was only allowed by C++14:

https://isocpp.org/files/papers/N3652.html

Both clang and gcc fail this test with -std=c++11

[2019-08-14 02:09] jordigh opened #99 "Build instructions somewhat unclear about which make steps to run"
The library is header-only. This means that there is nothing to build at installation time.

The documentation suggests running `make` after `cmake`, but unless we are building the tests and examples, this is pointless.

Morever, the build instructions do not indicate a `make install` step. This is necessary so that manif will be found according to the instructions in the "Use Manif in your projec

[2019-08-19 20:52] #87 closed

[2019-08-19 20:52] #98 closed

[2019-08-19 20:52] #99 closed

[2019-08-20 14:37] #88 closed

[2019-11-04 02:44] jordigh opened #106 "Sample cmakefile for personal projects seems to be missing an argument"
If I'm reading this right,

https://cmake.org/cmake/help/v3.0/command/target_include_directories.html

this line in the readme

[code]

should probably be something like

[code]

Without the `PUBLIC` directive I get

[code]

[2019-11-04 03:14] jordigh opened #107 "Documentation should probably mention that Eigen includes should be added to search path"
Since manif is based on Eigen, compiling manif programs also require finding Eigen. I recommend that something like the following be added to the README:

[code]

[2019-11-05 10:07] markusgft commented on #84
Dear all (@artivis)

I would like to back up the request for such a feature! manif is a great tool, but I'm already hitting its limits due to lack of composite manifold support (like introduced in the paper).

Are there any plans for releasing such a feature?

Best, and keep up the great work!

[2019-11-05 10:40] markusgft opened #108 "Trivial euclidean manifold E(n) ? (feature request)"
Dear all,

I'm an application which takes an "manif" manifold as a template parameter. This works nicely, since the basic interface, accessors and methods are naturally the same for all manifolds.

However, it fails as soon as I want to operate in Euclidean space. What is missing, is essentially a manif-implementation of the must fundamental n-dimensional Euclidean manifold E(n), in which case any

[2019-11-05 11:19] joansola commented on #108
Hi Markus,

We've been discussing for a while the topics you are raising. For the R^n manifolds, or E(n), they should be easy to implement since they are mostly trivial.

We'll discuss soon about this possibility. We'll keep you posted here.

[2019-11-05 11:33] joansola commented on #84
Hi Markus.

As you can read in this issue, a general implementation is not trivial. That is, something that you can pass any number of lie groups and treat it with the same API as a single Lie group.

We'll "unsleep" the topic as the feature is really powerful for coding algorithms generically.

[2019-11-05 11:54] markusgft commented on #108
Hi @joansola , thanks for your quick reply!
I really appreciate "manif" and would highly welcome the extended functionalities!
All the best!

[2019-11-05 11:59] markusgft commented on #84
Maybe, as a sidenote ... a good starting point and probably already sufficient to many users might be a "reduced" API which does not support all methods that can be called on the individual (atomic) Lie-groups, but only a subset of them!

[2019-11-12 14:53] artivis commented on #108
@markusgft thanks for your interest in manif!
Implementing the E(n) manifolds has been on my todo-list for a while now but I did not have a use for it outside of the infamous composite manifolds (#84). Given your interest in those I will start looking at the implementation asap.
Best.

[2019-11-12 14:59] artivis commented on #106
You are right, the scope keyword is missing. Fixing it.

[2019-11-12 15:01] artivis commented on #106
Fixed in 085c25b8444d36eac3cda1b3a7a0dc0c32e734bb.

[2019-11-12 15:01] #106 closed

[2019-11-12 15:10] artivis commented on #107
@jordigh Have you experienced any problem with Eigen not being found?
manif dependency on Eigen should be properly forwarded through its generated targets/config files so that the end user only has to `find_package(manif)`.

[2019-11-12 15:18] artivis commented on #84
@markusgft This feature seems to be especially expected and as a matter of fact we do need it internally too. However it does requires some effort to get it done and done right. Unfortunately I won't have a sufficient bandwidth to work on this before February.

[2019-11-12 15:27] jordigh commented on #107
Yes, I did experience it.

[code]

I'm not sure what's going on, but the generated `manifTargets.cmake`file at `/usr/local/share/manif/cmake` does not have the proper directives for including Eigen 3 directories.

This is on Debian 10.1

[2019-11-12 15:37] markusgft commented on #108
Dear @artivis, thanks a lot for taking the action, I'm looking forward to the feature.

[2019-11-12 15:41] markusgft commented on #84
Dear @artivis, thanks for checking on this! I understand that it might take some time to implement properly. I just want to add on top of this, that for me and the people in my group, above cited feature 1 would already be great step forward, and would cover many of our use-cases.  And, I guess it is bit simpler to realize than 2. So, maybe, it would be a compromise to first provide 1. and then la

[2019-11-12 17:13] artivis commented on #84
@markusgft So at the moment I am only considering to implement the point `1.` which is clear from almost every aspect but also the most needed. However it is also the most tricky to implement given thatneric we want something very ge - think e.g. `Composite<R3, R3, SO3> Imu` for the IMU group.

[2019-11-15 21:04] #107 closed

[2019-11-18 14:37] ferreram opened #113 "Typo in Exp / Log maps in Appendix D"
Hi guys,
Thanks for sharing this work!

I just wanted to let you know that there is a typo about V(&theta;) in Appendix D.  The V(&theta;) (Eq.174) does not match the left Jacobian of SO(3) (Eq. 145), it misses the powers' values on the denominators.

Cheers,
Maxime

[2019-11-18 16:22] joansola commented on #113
Hi Maxime,

Thanks for reaching out!

I think however that we have it right. Just notice that (145) uses [\bf\theta]_x, whereas (174) uses [\bf u]_x. Since {\bf \theta} = {\bf u} * \theta, the two equations match. Maybe we could re-write one of them to avoid this confusion!

If this is not the case in your copy, please let us know. We have had some other typos in the past and this could be one of

[2019-11-18 16:35] ferreram commented on #113
Hi Joan,

Oh yes, you are right.  Thanks for the clarification!

Maybe just adding a note on the fact that V(&theta;) is equivalent to (145) in this case could be nice?

Thanks again,
Maxime

[2019-11-18 18:46] joansola commented on #113
Yes I think I'll add some note for this, thanks!

[2019-11-18 18:52] #113 closed

[2019-12-04 10:23] joansola opened #116 "Implement left-Jacobians"
This is a low priority issue.

I am wondering: manif could provide the option of providing the left-Jacobians instead of the right-Jacobians. This would give extra power to interface it with other tools that might be using left- logic. This means all implementations that regard uncertainties in the global reference.

As a reminder:
  - Local perturbations --> right plus and minus --> right Jacobia

[2019-12-04 10:26] joansola commented on #116
For reference:

![image](https://user-images.githubusercontent.com/2467261/70134712-e7e30680-1688-11ea-96db-eb7dfff01c12.png)

[2019-12-04 10:32] joansola commented on #116
And also:

![image](https://user-images.githubusercontent.com/2467261/70135141-bae32380-1689-11ea-997f-6f30cec9c0a0.png)

[2020-01-17 14:19] minrui-hust commented on #84
Great feature! I am doing the similar thing myself. Building a composite State using Eigen::Vector and manif, however, what troubles me is that, manif does not provide a "Map"or "Ref" like Eigen does, which enable us to specify storage other where. So the composite State's storage I made is spread in individual components,  which is a little bit ugly. Can manif provide a "Map" or "Ref" like featur

[2020-01-17 14:38] artivis commented on #84
Hi @minrui-hust, thanks for your comment.
`manif` does provide a `Eigen::Map` access, see an example [here](https://github.com/artivis/manif/blob/devel/test/se2/gtest_se2_map.cpp#L12).
This feature is not thoroughly tested but I have used it in a couple projects and it seems to work fine. Please give it a try and let us know if you encounter any issues. Feel free also to open tickets.

[2020-01-20 07:21] minrui-hust opened #117 "What does 'Dim' mean?"
In struct traits<SO2<_Scalar>> in `SO2.h`
[code]
Should the 'DoF' be 'Dim'?
The DoF of SO2 is 1, but the dimension of the Vector SO2 act on is 2.

[2020-01-21 14:19] artivis commented on #117
Hi @minrui-hust,
you actually spotted an error, it should be `using Vector  = Eigen::Matrix<Scalar, Dim, 1>;`. The same error is repeated in all implemented groups. Unfortunately this typedef is not used anywhere hence the mistake was not caught earlier.
I'll fix this real soon, thanks for the ticket :+1:

[2020-01-21 14:53] artivis opened #119 "Group action on different objects"
At the moment, the `act` function treats its input argument as a point and act on it accordingly (e.g. SE2 rotates and translates). It would be great if `act` could act appropriately on different objects, likely vectors and points at first.

## Options

This calls for a rethinking/redesign of the function with the following options:
1. distinguish objects with a runtime flag (likely an `enum`)
2.

[2020-01-21 14:54] artivis commented on #119
@joansola I thrown here a few initial ideas on improving `act`, any thoughts?? I'll edit the ticket to keep it up to date with the discussion.

[2020-01-22 07:56] #117 closed

[2020-01-30 07:24] markusgft opened #120 "manif creates a package.xml file in devel-folder after build"
Dear all,

I am using manif in a catkin (ROS) workspace and encounter the following issue:
When building using `catkin build`, manif creates a _package.xml_ file in `<path_to_ws>/devel/share/manif`

Creating a _package.xml_ in the devel folders leads ROS to "believe" that there is a ROS package in devel with the same package name as the orginal package in the src folder. This triggers errors in so

[2020-01-30 20:10] artivis commented on #120
Dear @markusgft,

`manif` explicitly installs the `package.xml` file from the `CMakeLists.txt` (see [here](https://github.com/artivis/manif/blob/devel/CMakeLists.txt#L159)). This is likely a mistake of mine. Can you try to comment this block (l.159-162) see if it fixes the issue? Note that you will probably have to clean before compiling again, `catkin clean manif`. I'll see it fixed upstream asap

[2020-02-04 00:36] #90 closed

[2020-02-04 00:44] artivis commented on #120
@markusgft FYI #122 should fix the issue.

On a side note, since you are using `manif` with ROS, you may be interested in [`tf2_manif`](https://github.com/artivis/tf2_manif).

[2020-02-04 12:58] markusgft commented on #120
Okay, thanks a lot for fixing this!

[2020-02-04 13:21] artivis commented on #120
Re-opening this until #122 is merged.

[2020-02-13 17:01] markusgft opened #123 ".isApprox() with default tolerance for Tangent-types?"
Just out of curiousity: is there a reason why the method .isApprox() in the Tangent Base class does not have a default value for the tolerance?

If not, would it be an option to add a reasonable default tolerance?

[2020-02-13 21:33] artivis commented on #123
There you go #124.

Not sure what you call reasonable but I used the same tolerance as in [`LieGroupBase::isApprox`](https://github.com/artivis/manif/blob/devel/include/manif/impl/lie_group_base.h#L234).

[2020-02-18 18:30] #123 closed

[2020-02-20 00:35] #108 closed

[2020-02-20 01:25] artivis commented on #62
Closing this issue as the documentation improved since it was opened.
Feel free to re-open if the [wiki page](https://github.com/artivis/manif/wiki/Using-manif-with-Ceres) isn't enough.

[2020-02-20 01:25] #62 closed

[2020-02-20 08:32] joansola commented on #62
I improved this in #129

[2020-02-20 22:57] artivis commented on #116
API-wise, another solution could be to rely on different types. In the futur I would like to introduce the [`Jacobian` traits](https://github.com/artivis/manif/blob/feature/jacobian_traits/include/manif/impl/jacobian.h#L74) (on branch [jacobian_traits](https://github.com/artivis/manif/tree/feature/jacobian_traits)) which allows for a semantically nicer notation e.g.:
[code]
We could go all the way

[2020-02-21 08:43] joansola commented on #116
Wow this looks neat!

However, I wonder if it is a good idea to have the left/right think kind of hidden inside of the matrix template definition. I mean it can be confusing for example for finding bugs once the code is done, because the trace for left/right is perhaps up in some typedef or variable declaration, far from the actual function calls. What do you think?

[2020-03-02 10:07] markusgft commented on #84
Dear all,
sorry for bugging everyone again, but I am still very interested in the composite group feature.
Would it be possible to comment on the development timeline and give an outlook on when this feature might appear?
Thanks, and keep up the great work!

[2020-03-17 08:21] CaffeMrDe opened #130 "How can I use Lie theory in robot visual servoing?"
I want to use it in some application. But I don't how to use Lie theory library. I can write the code. But I have no idea to do it.
Can you help me?
Thanks!

[2020-03-17 12:17] artivis commented on #130
Hi,
you will plenty of examples in the ['examples'](https://github.com/artivis/manif/tree/devel/examples) directory of the package. This should give you a strong basis to get started with `manif`.

[2020-03-17 12:25] artivis commented on #84
Hi @markusgft,
Sorry for coming back to you so late. I cannot give you any ETA for this feature as I do not currently have the time necessary to work on it. We have noticed a separate effort from @minrui-hust on his [own fork](https://github.com/minrui-hust/manif/tree/feature/bundle) to implement the feature (see an example [here](https://github.com/minrui-hust/manif/blob/feature/bundle/test/bundl

[2020-05-16 21:22] artivis commented on #130
Closing since there is no activity.

[2020-05-16 21:22] #130 closed

[2020-05-17 14:09] artivis commented on #116
Late answer...
First I think that my last proposal is best in terms of design and overall 'look'. The alternatives are much less practical or plain ugly (as you pointed).
We could introduce some compile-time sanity checks such that the following would result in a compilation error:
`right_J_inv_x * left_J_inv_x ==> Error: You are mixing right and left Jacobians`.
Those checks could be in turned of

[2020-06-04 12:05] markusgft opened #132 "Non-const getter for coeffs()"
Dear all,
I am working on an optimal control library which supports both native Eigen-types and manif-types, as well as optimal control on manifolds.
I am trying to make things as generic as possible, i.e. write my code such that Eigen-types and manif-types are interchangeable where possible.
One of the unfortunate obstacles in the way is that manif does not have a non-const getter for `coeffs()`.

[2020-06-04 13:44] artivis commented on #132
Dear @markusgft,

Indeed Lie group objects do not expose a public non-const `coeffs()`; note however that tangent objects do. This API was one of the earliest design choice.

The rational is quite simple, we try to prevent the user from assigning values that do not respect the group constraint(s) (e.g. non-normalized quaternions). By returning a non-const reference to the `coeffs` vector, we do no

[2020-06-07 11:13] markusgft commented on #132
Yes, I see that this design decision makes sense from a point of view, where you want to avoid that the user does anything "uninformed". However, I believe that only people who know what they are doing and are familiar with the basic math of manifolds are using this library.
Of course I am aware that my request is a bit special -- in particular, all I would wish for is as much overlap as possible

[2020-06-08 05:19] joansola commented on #132
Hello all.

I see the point raised by Markus (thanks Markus) and I think it makes sense. Very often automatic checks and prohibitions that seek safety against misuses are compromised by other opposing needs such as portability, compatibility, speed, and other.

Since Manif is intended as a tool library, it makes sense also to assume that its users know what they are doing, so I'd say it is OK to l

[2020-06-08 15:44] andre-nguyen commented on #132
@joansola

In `some_class.h`
[code]

And then @markusgft would write in `some_class_extension.h`
[code]

And then to use `SomeClass` you would need to do
[code]

[2020-06-08 15:55] joansola commented on #132
@andre-nguyen I see your point, although not in the details.

I guess that the `#define` in `SomeClass` is a typo and should be a `#include`, no?

Or is it that the `#ifdef` should be a `#isndef`?

[2020-06-08 15:57] andre-nguyen commented on #132
Yes! Sorry, edited that. Basically its the same extension system Eigen has

http://eigen.tuxfamily.org/dox-3.2/TopicCustomizingEigen.html

[2020-06-08 16:00] joansola commented on #132
Cool! Thanks for this input!

[2020-06-08 16:45] artivis commented on #132
Hi all,
Allow me to answer between the lines.
@markusgft

Well sometimes even "informed" users make tiny mistakes that takes way too much time to figure out - *coughing* :smile:. Although I could agree with your point.

Having an Eigen-like API is also a design objective of `manif`. I guess that's another argument in favor of a non const `coeffs`...

I'm really excited to hear about that and I'm l

[2020-06-08 16:55] artivis commented on #132
@markusgft sorry I forgot to ask you, which 'auto-diff tools' are you using? It would be great to confirm that manif supports other tools than `Ceres::Jet` on the readme page. I meant to integrate [CppAD for a long time](https://github.com/artivis/manif/commits/cppad) but never got to finish that.
Side question, do you think it would it be useful to your control library or other to have auto-diffe

[2020-06-08 18:43] markusgft commented on #132
Dear all,
first of all, thanks a lot for the quick and helpful responses, and I am really happy to hear that you guys are so open-minded towards helping us out!

 * Autodiff: The control-toolbox currently uses CppAD and [CppADCodeGen ](https://github.com/joaoleal/CppADCodeGen) as main tools for algorithmic differentiation and code generation. Some users also employ [CasADi ](https://web.casadi.org

[2020-06-09 13:19] artivis opened #133 "CppAD support"
It might be beneficial to revive [CppAD integration](https://github.com/artivis/manif/commits/cppad) in `manif` and make sure (tests) that it works fine.

[2020-06-09 13:34] artivis commented on #133
Following https://github.com/artivis/manif/issues/132#issuecomment-640804379.

*I'm not a CppAD power user so take the following with a grain of salt...*

Some functions in `manif` have a conditional branching (good old `if` statement) that breaks CppAD differentiation tape. Special care has to be taken for these `if` when using the library. I did so following the online tutorial but never got to

[2020-06-09 13:36] artivis commented on #116
Pasting from https://github.com/artivis/manif/issues/132#issuecomment-640804379

[2020-06-10 06:19] niebayes opened #134 "How to derive this two formula?"
![image](https://user-images.githubusercontent.com/25320945/84233519-10125d00-ab25-11ea-8cca-f265500944d8.png)

![image](https://user-images.githubusercontent.com/25320945/84233175-5fa45900-ab24-11ea-800e-13b4d0977666.png)

The paper states that eq. 68 is derived from the eq. 41a.  But I don't know the concrete derivation. Can someone share some hints with me?

As for the eq.69, I know it's derive

[2020-06-11 02:12] niebayes commented on #134
@joansola Thank you! I misunderstood the calculation rule for Exp(.) operator, which I assumed to be the same with exp(.).

[2020-06-11 02:12] #134 closed

[2020-06-11 09:38] niebayes opened #135 "What does the "origin" mean?"
![image](https://user-images.githubusercontent.com/25320945/84368767-9489dc00-ac08-11ea-8cf6-0195997c1f9f.png)

I can grasp the basic idea of this passage. But the term "origin" confused me. It is the "origin" of the manifold, or that of the tangent vector space? And what is the "origin" of a manifold?

![image](https://user-images.githubusercontent.com/25320945/84369804-fa2a9800-ac09-11ea-862f-8a

[2020-06-12 12:11] niebayes opened #136 "How to derive the Lie algebra so(3)?"
I've posted a [question](https://math.stackexchange.com/q/3716704/681195) in StackExchange. Can someone help me solve this problem?

[2020-06-16 23:40] #132 closed

[2020-06-16 23:44] artivis opened #139 "Support gcc-8/9 in CI"
Recent PRs (e.g. #137, #138) started to fail CI. This is due to the newly introduced arm64 job which uses gcc-9.
+ [ ] support gcc-8
+ [ ] support gcc-9
+ [ ] add gcc-8 in CI
+ [ ] add gcc-9 in CI

[2020-06-17 10:39] markusgft opened #142 "Introduce Eigen-style transpose() for Tangent-types"
Dear all,
what do you think of introducing an Eigen-style `transpose()` call for manif tangent types?
The context of the question is the same as in #137.
So far, I helped myself with introducing the following public method to my personal clone of manifs `tangent_base.h`:
[code]
Note that it in fact returns the transpose of the underlying data type, i.e. the transpose of an Eigen-matrix.
I would li

[2020-06-17 10:51] markusgft opened #143 "Include operator()(int idx) for manif tangent-types?"
Dear all,
I would like to ask whether you would consider it meaningful to introduce the following operator for manif tangent-types, in order to allow direct access to single elements of the coefficient vector of the tangent objects.
I would suggest something along the lines of [this](https://eigen.tuxfamily.org/dox/classEigen_1_1DenseCoeffsBase_3_01Derived_00_01WriteAccessors_01_4.html#ae6ba07bad9

[2020-06-17 11:00] markusgft opened #144 "Aliasing in manif."
Dear all,
I am wondering whether manif should adopt the (anti) aliasing [helper functions native to Eigen](https://eigen.tuxfamily.org/dox/group__TopicAliasing.html).
In particular, I believe that Eigens `.eval()` and `.noalias()` could be relevant and attractive for manif. For instance, in my applications, this helps to greatly reduce the number of temporary expressions and therefore increases sp

[2020-06-17 11:16] joansola commented on #142
Just for clarification. I suppose you are aware that all our tangent types are Cartesian vectors, that is `Matrix<T, size, 1>`, and that we do not expose normally the true Lie algebra types. Does this affect your comment / request in some way?

[2020-06-17 12:56] markusgft commented on #142
No, I don't think that affects the principal idea. Maybe an application example: what I would like to achieve is that one can evaluate quadratic forms like the following ...
[code]
... while using pure Eigen-syntax! Does that clarify the idea?

[2020-06-17 13:03] joansola commented on #142
Yes it does! Thanks. I'm mostly concerned with the math of the library. Jeremie is the one involved in the design / development of the library. Let us see what he says.

[2020-06-17 13:13] artivis commented on #144
Hi @markusgft,
What do you mean by:

I assume you mean using those on plain Eigen types since `manif` does not provide these functionalities.
Altho interesting, I'm afraid this won't happen anytime soon. Indeed, Eigen has many tricks up its sleeves and one of them is the use of ['expressions template'](http://eigen.tuxfamily.org/index.php?title=Expression_templates). You may have previously notice

[2020-06-17 13:25] artivis commented on #142
Hi all,
looks like this request, just like #143, if about bringing some of Eigen's vector API to the tangent classes. I'm wondering if it would make sense for the `TangentBase` class to 'simply' directly inherit from `Eigen::Matrix<T, size, 1>`. This would bring a lot to the API space but since the tangent types are Cartesian vectors maybe it make sense. We would also benefit from some Eigen optim

[2020-06-17 14:05] joansola commented on #142
Yes, it makes perfect sense and you save a lot of work.

I think the base API from Eigen can be exposed partially also, should some parts of it become irrelevant or dangerous for any reason, using the `using` keyword, but you know better than me about these things.

[2020-06-17 14:37] markusgft commented on #142
Inheriting from Eigen::Matrix seems like a good idea, I did not have that on my radar, but it probably makes sense for the Tangent class!

[2020-06-17 14:40] markusgft commented on #144
Thanks for your comments and insights!
I believe that this would be automatically resolved in case that #142 gets as far as to introducing direct inheritance of the tangent-vector types from the Eigen::Matrix class!

[2020-06-17 15:12] artivis commented on #144
Well, only for tangents and only partially ^^.

[2020-06-17 19:27] markusgft commented on #144
Sure, only partially! Of course I base my judgement on the limited scope of my application - but within that application, the solution proposed in the other thread would resolve a great many of my issues.
Thanks again, and keep up the great work!

[2020-06-17 19:57] joansola commented on #144
Since most of the calculus performed by solvers and optimizers is done in the tangent space (that is, all state errors, perturbations, increments, optimal steps, residuals, Jacobians, and covariances are in the tangent space), this "only" means that most of the problems are solved by letting the tangent inherit from `Matrix<T,size,1>` I'd say.

[2020-06-18 09:15] narutojxl opened #145 "chain rules for jacobian of RQR^{-1} wrt R?"
Hi, @joansola:
Thanks for your very detailed paper first !
How to calculate the jacobian of $(RQR^{-1})$ wrt R, where R and Q are all SO(3), Q is independent  from R. Thanks for your help :)

[2020-06-18 09:22] joansola commented on #145
Hi @narutojxl , thanks!

Interesting question. I do not know. But expressions like RQR\inv are interesting because they have nice properties.

For example, let Q = exp(q^) for q^\in so3

Then RQR.inv = E exp(q) R.inv = exp (R q^ R.inv) = exp (Adj_R(q^)) = Exp (Adj * q) <-- maybe I'm slightly wrong by some small detail, please check the paper for exactness here.

maybe from here you can use the cha

[2020-06-18 13:23] artivis commented on #145
Some pseudo-code below,

[code]
@joansola can you double-check `J_P_R` chain?

[2020-06-18 14:01] joansola commented on #145
@artivis  Since `R*Q*R.inv` is a quadratic form in `R`, I am not sure if we can apply the chain rule blindly, that's why I tried to re-write the expression through manipulations as in my post above.

A nice check then is to compare with `manif` if both approaches match.

[2020-06-18 14:05] joansola commented on #145
Nice code, anyway! and the chain looks good to me.

[2020-06-18 20:19] joansola commented on #145
1. Method of the manipulation (.i: inverse; q = Log(Q))
[code]

2. Plain chain rule (.i: inverse ; .tr: transpose)
[code]

They do not seem to match at all! Maybe manif thinks otherwise?

[2020-06-18 22:02] narutojxl commented on #145
Hi @joansola  and @artivis , thanks for your help. I also have the same doubt.

![2020-06-19 05:58:49屏幕截图](https://user-images.githubusercontent.com/6205343/85076300-70bf2b00-b1f2-11ea-85ca-f72f995e75ee.png)

[2020-06-19 11:06] joansola commented on #145
In SO3 you cannot assume that `Log(AB) = Log(A)+Log(B)`. If this were true, then:

    Log(AB) = Log(A)+Log(B) = Log(B)+Log(A) = Log(BA) ==> AB = BA

which is untrue for non-commutative groups.

You have the (I believe) correct development of the Jacobian in case 1. above. You apply the chain rule, not the definition of the derivative, and get there quickly enough.

Method 2 is I believe incorrect

[2020-06-19 11:49] narutojxl commented on #145
Yes, i agree with you :) , thanks all of you !  My problem is solved(i think), i will close the issue.

[2020-06-19 11:49] #145 closed

[2020-06-25 06:13] markusgft commented on #142
Dear @artivis @joansola
I wanted to use the opportunity to follow up and further energize the idea of deriving the Tangent classes from Eigen::Matrix. I think that would be a fantastic feature, which would help a lot of people to run advanced linear algebra routines in the tangent space with ease.
If you are considering implementing it, it would be very helpful if you quickly comment on potential

[2020-06-25 13:56] artivis commented on #142
Hi @markusgft,
I am quite sold to the idea of the Tangent class inheriting from Matrix (MatrixBase most likely) however I anticipate this not to be simple and fairly time consuming. So that you know, I develop `manif` on my free time, therefore it is not always easy to find large blocks of hours to properly focus.
I will have a look at this over the weekend to get a better idea of the implications

[2020-06-25 14:12] markusgft commented on #142
No worries, I fully understand (it's the same for me and the control toolbox) and I certainly did not want to appear too demanding!
Let me know if there's anything I can contribute to the effort.
Cheers.

[2020-06-26 15:10] joansola commented on #142
From my side there's not much I can do. But I'd like to see this evolving since I believe this would be  a powerful upgrade of the library.

[2020-06-29 15:44] artivis commented on #142
Hi guyz,
a quick update to let you know that I looked at the inheritance thingy over the weekend and as I expected it won't be simple. Actually I don't even know how to deal with it atm. The problem is the following: `manif` design, much like `Eigen`'s, separates the interface (Base classes) from the actual memory allocation (say e.g. final SE2 class). This scheme allows for instance to easily spe

[2020-06-29 15:53] joansola commented on #142
Here's my thought.

Implementing most of the Eigen API on top of manif is maybe a dumb option but very effective. It might be tedious but other than that it's a fine way to go.

I wonder if we can design a macro of the style:
[code]
so that now we just need to add method after method.

I'd say also to put all this in a separate file to be able to cut it out one day.

[2020-06-29 18:27] markusgft commented on #142
Hi @artivis, why should you inherit from MatrixBase rather than from Eigen::Matrix?

[2020-06-29 19:17] artivis commented on #142
@joansola :
yeah re-implementing Eigen's API is not the way to go in the long run but if we only need a couple functions quickly it is not an issue.
@markusgft:
With the current design, if `TangentBase` inherits directly from `Matrix` then every `Map<ManifObject>` will have a useless memory block as a member. If you look at e.g. [`Map<SE2>`](https://github.com/artivis/manif/blob/devel/include/mani

[2020-07-02 06:06] markusgft commented on #142
Dear @artivis, sorry for introducing such a long delay before my response, now I finally manged to come back to this thread. Here is a (preliminary) list of things that I currently have "hacked" myself into manif, and which would be fantastic to have in the main library.

1. `transpose()` operator for tangent types (see top of this thread)
2. Operator for accessing/writing single elements of the t

[2020-07-02 12:58] artivis commented on #142
Hi @markusgft,
just a quick reaction to your fourth point,

For manifold and tangent types, the `operator +` is overloaded on-top of `rplus/lplus` functions. Introducing the overload you are proposing would be, at least, confusing. Note that the `operator *` is the current `compose` overload (`a.compose(b) -> a*b`).

The rest of the comment seems reasonable. I'll come back to it more in detail lat

[2020-07-03 14:11] artivis commented on #142
Hi all,

for completeness, the following design seems to work:
[code]
pro: we get to inherit the Eigen API at the most user-facing level
cons:
  - Eigen API not accessible at neither `SE2Base` nor `TangentBase` level limiting the possibility to write generic code. E.g. **not** doable:
[code]
  - Each and every final manifold class (here `SE2`) inherits from `Eigen::Matrix` independently

The first

[2020-07-03 20:06] joansola commented on #142
1. I suppose you mean `Matrix<Scalar, 3, 1>`
2. Generic code is nice but maaaybe it does not happen so often. Of course your example would like to expand the API of `TangentBase` with a method that does not exist in Eigen -- otherwise, you don't have generic code, but you have the same API for all classes, so it's pretty much the same user-wise.
3. I do not see anything intelligible in the `templa

[2020-07-03 20:49] artivis commented on #142
@joansola
1. Oups, I meant `Matrix<Scalar, 4, 1>` (x, y, real, imag). Fixed it.
2. I coded the TESC-planner using generic code so that moving from a mobile-base (SE2) to an arm end-effector (SE3) was nearly effortless. I think that makes the case for generic code. And the same goes for the [couple algorithms in `manif`](https://github.com/artivis/manif/tree/6d07bc65cc5b25c49f1231021be5e61132e5f777

[2020-07-03 20:52] joansola commented on #142
1. Again: did you mean `Matrix<Scalar, 3, 1>`? The tangent space se2 has 3DoF!

[2020-07-03 20:55] artivis commented on #142
@joansola You are right, I was somehow blocked on `SE2` rather than `SE2tangent`. Fixing the above examples/comments.

[2020-07-03 21:16] joansola commented on #142
2. OK for your view of the generic code.
3. Yep I see.

[2020-07-08 14:33] NemoLeiYANG opened #146 "meet trouble by using manif with ceres solver"
Hi:

Great work. I'm working on optimization problem by using manif so I can solve the problem with Lie group.

But when I worked on autodiff in ceres solver by solving SE3 problem, I can't find the answer about write my own cost function while use your local parameterization functor, because I don't know the correct residual size according to your local parameterization functor.

Can you give me

[2020-07-08 16:04] artivis commented on #146
Hi,

Have you checked the [doc on the wiki pages](https://github.com/artivis/manif/wiki/Using-manif-with-Ceres)?
`manif` ships with some utils and wrapper classes to interface it with Ceres (see [here](https://github.com/artivis/manif/tree/devel/include/manif/ceres)).
Finally you can find some example in the unit tests (e.g. a [small dummy SE2 problem with autodiff](https://github.com/artivis/mani

[2020-07-08 16:26] NemoLeiYANG commented on #146
Hi:
Thank you for your response.
I've already see that page and I just extend that to do SE3 problem.
But I'm confusing about the local parameterization of SE3.

I guess, if I want to build a relative motion error between to poses.
I should use  res = (T_ij_meas^-1 * T_ij_est).log().coeffs(),matrix() , but I
get a error about local param size from ceres. So I'm confusing the that should I
use the

[2020-07-08 18:14] artivis commented on #146
Without seeing your code it is difficult to tell. Is it public? Do you have a link? Maybe the [`CeresConstraintFunctor`](https://github.com/artivis/manif/blob/devel/include/manif/ceres/constraint.h#L49) wrapper and the [different utils functions](https://github.com/artivis/manif/blob/devel/include/manif/ceres/ceres_utils.h#L23) can help you with API-wise.

[2020-07-09 01:30] NemoLeiYANG commented on #146
Hi:
Here is my testing code, it's just wrap from ceres example:
cost function:

class PoseGraph3dErrorTerm {
 public:
  PoseGraph3dErrorTerm(const Pose3d& t_ab_measured,
                       const Eigen::Matrix<double, 6, 6>& sqrt_information)
      : t_ab_measured_(t_ab_measured), sqrt_information_(sqrt_information) {}

  template <typename T>
  bool operator()(const T* const t_a_ptr,

[2020-07-09 06:40] markusgft commented on #142
Yes, I can see your point -- I can overload that locally in the CT. I only mentioned that because boost odeint requires the user to overload + in order to work. Another option would of course be to independently commit a set of corresponding operations to boost odeint, but I feel like this would be beyond our reach.

A big +1 here from my side for the generic code argument!

[2020-08-02 16:11] GiulioRomualdi opened #148 "Unable to compile the library on VisualStudio2019"
Hi all, I'm trying to build `manif` on `VisualStudio2019`. When I configure the cmake project I get the following error:
[code]

Associated issue: https://github.com/GiulioRomualdi/lie-group-controllers/pull/1#issuecomment-667695626

[2020-08-03 09:06] prashanthr05 opened #152 "Add SE_2(3) extended pose Lie group manifold to manif"
First of all, thank you for this great repository!

I would like to make a feature request for adding an additional Lie group $SE_2(3)$ (extended pose or double direct spatial isometry as introduced in [The invariant extended Kalman filter as a stable observer, appendix A2 ](https://arxiv.org/pdf/1410.1465.pdf).
This can be useful in some applications using inertial measurement units. Please see,

[2020-08-03 13:05] artivis commented on #152
Hi @prashanthr05,

It would definitely be interesting to have `SE_2(3)` in `manif`! I've had my eyes on it for a time as a matter of fact. But I'm busy with a couple (upcoming) redesigns (starting with #150). However since you already implemented it, feel free to open a PR as it is, I will take care of 'porting' it to the new design once that's ready.

I'm not sure either about the `act` implement

[2020-08-03 13:10] prashanthr05 commented on #152
Great! I shall open a PR soon with the suggestions incorporated.

[2020-08-03 13:41] prashanthr05 commented on #152
Actually, I forgot to bring this up earlier. One of the important design choices is the serialization for the vector space in the case of semi-direct products with a rotation matrix, which affects the structure of the Adjoint matrix and the Jacobians.

Right now, I notice for $SE(3)$, we use the serialization as $(v, \omega)$. In $SE_2(3)$ implementation, I have used a similar serialization extend

[2020-08-03 13:52] joansola commented on #152
There is no mandatory act function in a lie group. It depends on what we
act onto. Therefore, we can pick up any transformation we find practical to
have.

As a minimum default for se23.act, we should fold back to se3.act, which is
a plain rigid motion. Maybe we want to act on other objects than 3d points.
Which one? Only the users of se23 are in position of telling which is the
choice that makes

[2020-08-03 13:55] artivis commented on #152
We encountered this 'issue' as well in the past. It is not really an issue but rather something to pay attention to.

I'm not sure how this could be implemented, especially since it changes some block-ordering in e.g. the Jacobians. I'm afraid such feature would only bloat the API and complexify the internal implementation - especially since I'm working on giving the user the choice of right/left

[2020-08-03 14:03] prashanthr05 commented on #152
I understand. It would indeed complexify the implementations.

a plain rigid motion. Maybe we want to act on other objects than 3d points.
Which one? Only the users of se23 are in position of telling which is the
choice that makes more sense.

In that case then, if we extend towards composite manifolds, would a default definition of an act() method make complete sense?

[2020-08-03 18:44] joansola commented on #152
In that case then, if we extend towards composite manifolds, would a
default definition of an act() method make complete sense?

I'm not sure if I understand this right. Composite action I believe
deserves the same considerations as above. But it has in general poor
geometrical meaning. For example, R3xSO3xR3 would be a composite for SE23.
What does the action on 3d points mean? Translation plus r

[2020-08-04 12:52] #148 closed

[2020-08-05 11:42] GiulioRomualdi opened #156 "Avoid to set target_compile_options when compile is gcc"
I'm trying to import `manif` in my application, however when I tried to compile it I got the following errors due to unused-variable. e.g.
[code]

Digging in the code, I realized that it is due to the following lines the main CMakeList.txt file of `manif`
https://github.com/artivis/manif/blob/78cc83d8292736b26a3a4f6d302057a6b80056a4/CMakeLists.txt#L87-L94

Indeed when a library is linked using
[co

[2020-08-05 12:11] prashanthr05 commented on #156
I also faced similar problems.

[2020-08-05 12:22] GiulioRomualdi commented on #156
This commit should solve the problem https://github.com/GiulioRomualdi/manif/commit/4d24db396e6afa57b3de72b52ee1f92df6e0adba

[2020-08-05 12:43] artivis commented on #156
Indeed those flags probably shouldn't be propagated to clients projects.
@GiulioRomualdi please feel free to open a PR with your fix. Don't forget to set the compile options for the examples too (e.g. [here](https://github.com/artivis/manif/blob/devel/examples/CMakeLists.txt#L32)).

[2020-08-07 13:05] #156 closed

[2020-08-10 03:14] niebayes opened #159 "How can I extend SE(3) to Sim(3) using this library?"

[2020-08-10 13:39] GiulioRomualdi opened #160 "Add the possibility to easily set quaternion and translation in an SE3 object"
As far as I understood the only way to set the `translation` and the `quaternion` in an `SE3` object is to use
[code]
For example, the following lines of code are required to set:
1. the quaternion
[code]
2. the translation
[code]

I think that calling `coeff()` and access to the element of the private storage may lead to undesired bugs and errors.

What I suggest is to change the signature of the

[2020-08-10 13:47] artivis commented on #159
You would have to create a new class `Sim3` implement the different functions. To do so you could start from the `SE3` class as a model.

[2020-08-10 14:27] artivis commented on #160
Hi @GiulioRomualdi,

This is somewhat related to #132. To summarize, classes in `manif` were not offering non-const data access [until very recently](https://github.com/artivis/manif/pull/137). The rational was to somewhat 'filter' inputs and prevent the user from feeding in invalid values ([e.g. non-unit quaternion](https://github.com/artivis/manif/blob/devel/include/manif/impl/se3/SE3.h#L158)).

[2020-08-10 14:40] prashanthr05 commented on #160
In line with @artivis suggestion, we could actually use bool as return which might be false in case user tries to set a non-unit norm quaternion, emphasizing that such a quaternion cannot be set. similarly for rotation matrix, trying to check atleast the unit determinant, if not for orthonormality.

[2020-08-10 16:04] niebayes opened #161 "Errata in text of figure 3, page 3"
Original: "Mappings exp and log (arrows) map (wrap and unwrap) elements of **R** to/from elements of S^1 (blue arc)".

Now: "Mappings exp and log (arrows) map (wrap and unwrap) elements of **iR** to/from elements of S^1 (blue arc)".

[2020-08-13 17:21] GiulioRomualdi opened #162 "Missing Eigen include in SO3.h file"
WHen I try to compile the following code
[code]

I get this error
[code]

The error is due to a missing include in [`impl/so3/SO3.h`](https://github.com/artivis/manif/blob/devel/include/manif/impl/so3/SO3.h). Ineed adding
`#include <Eigen/Geometry>` fixes the problem.

[2020-08-13 18:10] artivis commented on #162
Hi,
this is actually handled in PR #147 (see https://github.com/artivis/manif/commit/a33bc53bc11962cfb61bfc0847ac9a5e8fbb0c85). This will hopefully get merged soon.

[2020-08-14 21:03] artivis opened #164 "Interest in Unit Dual Quaternions?"
After seeing [this post on ROS Dicourse](https://discourse.ros.org/t/release-of-dual-quaternions/15911) and the comments asking for a c++ implementation, I wondered if 'Unit Dual Quaternions' (`DH_u` I believe) would be an interesting/useful addition to `manif` given that it is somewhat equivalent to `SE3`.

[2020-08-14 21:21] joansola commented on #164
I agree. Just for the fun of it, and just because we could be the firsts to have it!

I however dont know how it works

But lets check it out

[2020-08-14 21:34] joansola commented on #164
See appendix in https://cs.gmu.edu/~jmlien/teaching/cs451/uploads/Main/dual-quaternion.pdf for arithmetic.

Exp and Log are not in the paper. Neither the tangent space.

[2020-08-17 12:08] artivis commented on #164
Alright then I'll get started with the class layout and we can fill up the implementation as we uncover it.

[2020-08-17 12:32] joansola commented on #164
Would this constitute a replacement for SE3? It seems that's the case! Or
sould we rather keep both?

On Mon, Aug 17, 2020, 14:08 Jeremie Deray <notifications@github.com> wrote:

[2020-08-17 12:51] artivis commented on #164
No we should definitely keep both. `DHu` would be an alternative to `SE3` for whomever wants to use it for whatever reason...

[2020-08-17 14:48] prashanthr05 commented on #164
Related library from the ROS discourse https://github.com/Achllle/dual_quaternions

This could be really interesting. I am looking forward to this feature.

[2020-09-01 11:16] GiulioRomualdi commented on #160
@artivis if you agree I can propose a PR with the following methods in the `SE3Base`  class. In each method, I will check if the quaternion has unitary norm by using
https://github.com/artivis/manif/blob/b1c82befd066fb4e954742bab56c7795168bdaab/include/manif/impl/se3/SE3.h#L158

[code]

cc @S-dafarra @traversaro @prashanthr05

[2020-09-01 12:10] GiulioRomualdi commented on #160
GiulioRomualdi/manif@be76458 Implements the setters proposed, while https://github.com/GiulioRomualdi/manif/commit/23db0f3482a49531e708807d23d65c31ad330d4a is a test for the developed methods

[2020-09-01 15:46] artivis commented on #160
Looks good, I'll have a couple comments tho. Feel free to open a PR!

[2020-09-02 11:47] GiulioRomualdi opened #168 "Bug in SE3TangentBase::asSO3() function"
The following code
https://github.com/artivis/manif/blob/b1c82befd066fb4e954742bab56c7795168bdaab/include/manif/impl/se3/SE3Tangent_base.h#L123-L126
should be modified as
[code]

[2020-09-02 17:31] #168 closed

[2020-09-02 19:52] #160 closed

[2020-09-03 08:20] nielsvd opened #170 "Deprecation errors with gcc 9.3.0 (Ubuntu 20.04)"
When building `manif` with examples using `gcc 9.3.0` several `deprecation` errors appear. They are actually warnings, but due to the strict options `-Werror=all`, `-Werror=extra`, etc., enabled by default, the build process does not complete. Note that this version of `gcc` is the default or the latest `lts` release of Ubuntu (20.04 focal).

Configuration output:
[code]

Compilation error:
<detai

[2020-09-03 09:32] nielsvd commented on #170
By defining the copy constructors and assignment operators in the implementation classes, the errors in `manif` seem to disappear, e.g.,
[code]

However, the errors related to `lt::optional` remains.
[code]

[2020-09-03 11:53] nielsvd commented on #170
Hi, thanks for your quick reply! That branch indeed solves our problems.

[2020-09-10 07:19] huhumeng2 opened #171 "EPS is not suitable for float32"
https://github.com/artivis/manif/blob/b2f777967f343b51ba954fa641c9a256564f536a/include/manif/constants.h#L51

hi, guys, i found this line will throw out an error because the quaternion not normalized, but i have used the quaternion normalize function provided with eigen. i think this problem maybe 1e-15 is not suitable for float32 value, 1e-6 will be more suitable for it.

[2020-09-12 21:57] artivis commented on #171
Hi, thanks for reporting this, I will look into it as soon as possible.

[2020-09-13 21:52] mindbeast opened #172 "make core types nothrow move constructible"
Most of the core types make a user-defined destructor, turning off automatic generation of a no-throw move constructor. This can be easily tested with a compile time assertion:

static_assert(std::is_nothrow_move_constructible<SE3d>::value, "should be nothrow move constructible");

Following the "rule of zero" across the library will make the types nothrow move constructible, and thus faster to pl

[2020-09-13 22:37] mindbeast commented on #172
#173

[2020-09-14 13:04] artivis commented on #172
Hi, thanks for reporting this.
I have actually been paying a closer look to what's automatically generated and what's not, especially to comply with g++8/9 in #147. And while doing so I noticed that Eigen move semantic was broken for fixe-size vectors and was fix only recently (see [here](https://gitlab.com/libeigen/eigen/-/merge_requests/138)). With this in mind I left the move semantic aside in

[2020-09-15 03:41] mindbeast commented on #172
It's can be non-negligible. Any other types that contain these types and follow rule of zero will lose their move-noexcept-ness.

E.g. https://godbolt.org/z/scr6x6

std::vector will no longer be able to use move when doing a vector resize with any of those types. So it can be non-trivial. I don't have a benchmark though, if that's what your asking. I added a pull request https://github.com/artivis

[2020-09-16 14:47] artivis commented on #172
I understand your concern for classes that contains a `manif` type and I agree that this issue should be addressed.
I have seen your PR #173 and indeed the fix is simple, but so is declaring a default move constructor, e.g. https://godbolt.org/z/3zaaYr.

The implications of either solution have to be investigated but as of now I would lean toward declaring a default move constructor since I have t

[2020-09-22 03:31] niebayes opened #174 "How to do point transform using SE3 and Eigen::Vector3d?"
I checked the API and found that there's no overloaded operator * for SE3 and Eigen::Vector3d. How can I do point transform with one line of codes using manif?

[2020-09-22 12:14] artivis commented on #174
Hi, the group action on a point is performed with the function `act`:
[code]
If you are using homogeneous coordinates, you can use either `transform` or `isometry`,
[code]

[2020-10-26 23:00] joansola commented on #152
Can this be closed following #154 merge?

[2020-10-26 23:02] joansola commented on #174
solved. closing.

[2020-10-26 23:02] #174 closed

[2020-10-26 23:03] joansola commented on #161
Fixed in v7. closing

[2020-10-26 23:03] #161 closed

[2020-10-26 23:05] joansola commented on #135
Origin has the sense of Identity of the group.

[2020-10-26 23:06] #135 closed

[2020-10-27 09:30] prashanthr05 commented on #152
Yes, I think we can close this issue for now.

Maybe if we are interested in the SLAM manifold (`SE_{N+2}(3)`) later, I can work on opening a PR after @artivis has finished the redesign of the library.
However, does having that Lie group add value and how much value it adds is something to debate on.

What do you think @artivis @joansola?

[2020-10-27 10:50] joansola commented on #152
Yes, open a new PR. The SE_{N+2}(3) manifold is in any case a new thing, therefore a new PR.

[2020-10-27 13:22] artivis commented on #152
I'm not convinced by the relevance of `SE_{N+2}(3)`. `N` (contact points) sounds robot-specific to me and it will be a 'little' more complicated to implement than `SE_2(3)`, e.g. `N` would have to be a template parameter with everything that implies.

[2020-10-27 13:59] prashanthr05 commented on #152
It was introduced for [EKF-SLAM](https://ieeexplore.ieee.org/document/8205965) for embedding N landmark positions within the state along with the robot pose.
There are also other works in the literature that develop [non-linear observers](https://www.researchgate.net/publication/322672026_A_geometric_nonlinear_observer_for_simultaneous_localisation_and_mapping) using this manifold for SLAM and VSL

[2020-10-27 14:09] artivis commented on #152
Considering landmarks (thus `N` dynamic) is even more tricky I think. The library wasn't designed with dynamic states in mind. I'm not saying it isn't doable, but simply that I cannot really foresee the difficulties. If you think that it is a great addition that can only be tackled by adding a new group, feel free to give it a go :+1: .

In the case of `N` being contact points, is `N` dynamic too?

[2020-10-27 14:29] prashanthr05 commented on #152
Yes, it's dynamic. The author of the paper (one with contacts) has a minimal implementation of the Lie group [here](https://github.com/RossHartley/invariant-ekf/blob/master/src/LieGroup.cpp).

I am not certain at the moment if it would be a good addition or worth the time. However, manif's  Lie group base generic operators are always a plus.

But if I ever end up giving it a try, I will definitely

[2020-10-27 14:31] prashanthr05 commented on #152
Having said that we can close this issue.

[2020-10-27 14:31] #152 closed

[2020-10-29 14:36] joansola commented on #164
I believe this is a relevant relative https://dqrobotics.github.io/

[2020-11-20 17:16] joansola commented on #164
I got in contact with Bruno Adorno @bvadorno @dqrobotics who is a specialist on dual quaternions.

[2020-11-25 19:30] #139 closed

[2020-11-25 19:30] #162 closed

[2020-11-25 19:30] #170 closed

[2020-11-25 19:30] #172 closed

[2020-11-25 19:32] artivis commented on #164
Good to hear! Is it something you want to pick up? I don't know when I'll have time to resume this.

[2020-11-25 20:07] bvadorno commented on #164
Hi @joansola and @artivis!

It'd be my pleasure to help you guys in this endeavor. I've followed the discussion trail and there are some things that may be helpful to you.

DQ Robotics is implemented in C++, Matlab, and Python (actually we use bindings to access the C++ implementation, so on the high level the user sees Python code, but under the hood, everything runs in C++, which makes the Pytho

[2020-11-25 20:11] joansola commented on #164
Hi Bruno welcome to the fun!!

[2020-11-25 20:17] artivis commented on #164
Hi @bvadorno,
Thanks a lot for the references! We will be looking into them :+1:

[2020-11-28 09:44] narutojxl opened #178 "Relationship betweeen body's linear, angular velocity between local delta rotation and delta translation"
Hi all,
Thanks for authors paper very much !
![image](https://user-images.githubusercontent.com/6205343/100498985-01863380-31a1-11eb-9186-33e8e83970b9.png)

[2020-11-28 10:30] joansola commented on #178
This is correct. But you can do it simpler.

- build the `se(3)` tangent velocity `vel = (v,w) \in R^6`, with `v`, `w` in body frame (local frame, thus tangent to `SE(3)` manifold at the point `T` at all times)
- compute the integral during `dt`, that is, `DT = Exp(vel*dt) \in SE(3)` with `Exp` the exponential map of `SE(3)`
- Have `DT = [DR Dt ; 0 1] \in SE(3)` by definition, with `DR \in SO(3)`

[2020-11-29 02:22] narutojxl commented on #178
Thanks for author's detail reply ! Your paper is really friendly and profound, i learned a lot from your knowledge and sharing, thanks again !  BTW, it is a typo `p_1 = t_0+R_0*V(w*dt)*v*dt`. My problem is solved, close it now.

[2020-11-29 02:22] #178 closed

[2020-11-30 07:21] joansola commented on #178
fixed typo

[2020-12-07 19:52] artivis opened #180 "Broken exp().log() in SO3/SE3"
The following test is broken in `SO3/SE3`:
[code]
It fails roughly as often is passes. The test that was supposed to check this was not run (my bad for not fixing a copy/paste).

Note that `SE3` relies on `SO3` for a part, so most likely the issue comes from `SO3`.
Note also that `state.log().exp()` seems to work fine and is properly tested in CI.

I added a minimal reproducible example [here on b

[2020-12-07 20:06] joansola commented on #180
norm(delta) must be below pi for this test to pass safely. Is this condition strictly true?

[2020-12-07 20:14] artivis commented on #180
Oh I see. You mean "norm(delta) < pi" strictly true? Probably not. I'll have to rethink the test then

[2020-12-07 20:16] artivis commented on #180
I can confirm that indeed it fails when `norm(delta) > pi` :+1: .
Should I remove that test altogether?

[2020-12-07 20:18] joansola commented on #180
No, you should ensure SO3Tangent.Random() behaves as expected. Or, you should constrain the value in the test.

Beware of SE3 to conform to the same for its SO3 part.

[2020-12-07 20:24] joansola commented on #180
At least, we should discuss whether random() should be safely bounded by -pi/pi. I think it should, but there are arguments against too

[2020-12-07 20:25] joansola commented on #180
if we conclude random() can return whatever, then state.log().exp() == state is a sufficient test, and tangent.exp().log() should be removed as irrelevant.

[2020-12-07 20:29] artivis commented on #180
I think it should be bounded by -pi/pi too. One can always rescale to whatever.

[2020-12-07 20:30] joansola commented on #180
Is Eigen::Random() uniform or Gaussian?

[2020-12-07 20:37] artivis commented on #180
"Numbers are uniformly spread through their whole definition range for integer types, and in the [-1:1] range for floating point scalar types." [from the doc](https://eigen.tuxfamily.org/dox/classEigen_1_1DenseBase.html#ae814abb451b48ed872819192dc188c19).

[2020-12-07 20:44] joansola commented on #180
Then Vector3d::Random() is uniform in the unit cube, not in the unit sphere. It's tricky to make it work properly since we want the unit sphere to be uniformly distributed. This is similar, but different, than the discussion we had long ago about Quaternion::Random().

I'd start somewhere easy... e.g. `Vector3d::Random()::normalized()*M_PI`

[2020-12-07 20:45] joansola commented on #180
And add a comment about the way this is done, and the fact that it is somewhat arbitrary

[2020-12-07 20:46] joansola commented on #180
Otherwise, remove the test and add a note somewhere about SO3Tg::Random() returning a number in the unit cube --- so up to the user to make a proper use

[2020-12-07 20:47] joansola commented on #180
This is perhaps more honest from our part, but perhaps less useful

[2020-12-07 20:48] joansola commented on #180
The test can be used if `normalized()*M_PI` is added to it --  I mean in the test body itself.

[2020-12-07 21:21] artivis commented on #180
`normalized()*M_PI` will results in all random vectors being norm `M_PI`.
How about the following?
[code]
Still not proper but at least the norm is in `[0.M_PI]`

[2020-12-07 21:24] joansola commented on #180
haha yep youre right

but your code seems not right at all!  Why pi/3 ???

[2020-12-07 21:25] joansola commented on #180
you can do

[code]

[2020-12-07 21:26] joansola commented on #180
this will return a true random in the sphere

[2020-12-07 21:28] artivis commented on #180
`vec3.setRandom()` norm is in `[0,3]` so I rescale the vector so that its norm is in `[0,M_PI]`.

[2020-12-07 21:28] joansola commented on #180
why is vec3::rdm() in [0..3]??

[2020-12-07 21:29] joansola commented on #180
it should be in [-1,1]x[-1,1]x[-1,1], the unit cube

[2020-12-07 21:30] joansola commented on #180
`and in the [-1:1] range for floating point scalar types.`

[2020-12-07 21:31] artivis commented on #180
My bad, `vec3::rdm()` each elements are in `[-1,1]` so `vec3::rdm().norm` is in `[0,sqrt(3)]`

[2020-12-07 21:33] joansola commented on #180
yes, but it is not a sphere, so the norm distribution is not useful here to later scale it up. You will get a cube of side 2PI but not a sphere.

[2020-12-07 21:34] joansola commented on #180
my code with the while is a true uniform sphere. However it's not guaranteed to execute in a single go.

other option is to get the direction and discard the magnitude, convert the direction to a unit vector and build a random magnitude in [0..PI], then multiply the unit direction by this magnitude.

[2020-12-07 21:36] joansola commented on #180
this:

https://www.google.com/search?q=C%2B%2B+get+3D+points+uniformly+distributed+inside+a+sphere&oq=C%2B%2B+get+3D+points+uniformly+distributed+inside+a+sphere&aqs=chrome..69i57.16157j0j7&sourceid=chrome&ie=UTF-8

[2020-12-07 21:36] artivis commented on #180
I like this second option better.

[2020-12-07 21:37] joansola commented on #180
https://stackoverflow.com/questions/5408276/sampling-uniformly-distributed-random-points-inside-a-spherical-volume

actually, from results above, some are on the surface of the sphere. This one here is INSIDE THE VOLUME, which is what we are after

[2020-12-07 21:39] joansola commented on #180
This one is really cool:

[code]

[2020-12-07 21:41] joansola commented on #180
This is actually the one I told you (the discarding method)

[code]

[2020-12-07 21:44] joansola commented on #180
Oh, I think this one is cool:

[code]

[2020-12-07 21:44] joansola commented on #180
All these quoted answers come from this link https://stackoverflow.com/questions/5408276/sampling-uniformly-distributed-random-points-inside-a-spherical-volume

[2020-12-07 21:48] artivis commented on #180
That's the one I'm implementing right now :+1:

[2020-12-07 21:56] joansola commented on #180
still, phi is uniform and it should not be

[2020-12-07 22:01] joansola commented on #180
I think a good method is this (my invention)

1. pick X from -1 to 1.
2. given X, you have slice of the sphere at x=X. This slice is a circle of radius Ryz = 2cos(arcsin(X))
3. pick Y from -Ryz to Ryz
4. given X and Y, then Z is in the segment Sz = 2cos(arcsin(Y))
5. Pick Z from -Sz to Sz

[2020-12-07 22:02] joansola commented on #180
I'd need to check the formulas, but im going to bed now

[2020-12-07 22:12] joansola commented on #180
[code]

So +1 for the discarding method

[2020-12-07 22:12] joansola commented on #180
[code]

[2020-12-08 08:48] nielsvd opened #181 "Problems building manif with examples in release mode"
Hi there,

I receive compiler errors when following these steps on the latest version of the `devel` branch:
[code]

The errors are of the form (similar errors appear for `SE2`, `SE3`, etc.):
[code]

[2020-12-08 10:45] joansola commented on #180
Seems good

![image](https://user-images.githubusercontent.com/2467261/101474019-d511aa80-394a-11eb-8e04-8c5dc3941c25.png)

[2020-12-08 10:46] joansola commented on #180
However, consider the "discarding" implementation, maybe we gain some CPU time as pointed out by the comments I posted above.

[2020-12-08 11:17] joansola commented on #180
Works too, and in matlab seems quite faster:

![image](https://user-images.githubusercontent.com/2467261/101477337-5ff4a400-394f-11eb-9852-a531dfda570e.png)

[2020-12-08 12:28] joansola commented on #180
execution times:
t_discard =
   3.3566e-06
t_sampling =
   6.0331e-07

so the first method is way faster than the discard method in a naive matlab implementation.

Here both balls of radius PI , and their slices of thickness 0.1 showing uniform distributions, as desired

![image](https://user-images.githubusercontent.com/2467261/101483933-2759c800-3959-11eb-96b7-39da8302bcef.png)

[2020-12-08 19:34] artivis opened #184 "Travis-CI recent limitation"
Travis-CI has recently introduced some serious limitation to their free plan. As a result, all current PRs checks are now stall since we burned all of the free credit over a few CI run. There is no (free) CI credit left.

We need to investigate workarounds and alternatives (e.g. Github Actions) ...

Edit:
Some related readings,
- [Travis new pricing model blog post](https://blog.travis-ci.com/2020

[2020-12-11 13:26] #184 closed

[2020-12-11 16:59] #180 closed

[2020-12-13 21:48] joansola commented on #84
Any news regarding composites?

[2020-12-14 14:28] #181 closed

[2020-12-16 00:20] Edwinem opened #187 "Python Bindings discussion"
@artivis

I wanted to keep the PR more for review. So making a separate post.

Since I have some time over the Christmas break is there anything specifically you would like me to work on.  Just so I don't overlap with your work. From reading your PR I think we are missing the following.

- [ ] Create bindings for eigen classes. (Needed so SE3 can accept `Eigen::Quaternion` ...)
- [ ] SE3 specifics

[2020-12-16 03:35] artivis commented on #187
I have just pushed a bunch more bindings that address some of the group-wise API (constructors, accessors etc) together with few more test.

First let me say that your idea of using `EIGEN_DEFAULT_TO_ROW_MAJOR` seems like the way to go. I have briefly [tried it](https://github.com/artivis/manif/pull/179/commits/77a734fd333c3311d5c7f43bf9e87cc64c88f6d1) and while the current tests are still passing

[2020-12-18 07:25] Edwinem commented on #187
No problem. The whole Row major vs Column major is to me one of the most frustrating cases of incompatible standards.  There are also some other options we could maybe explore depending on how you want the library to be used, but that is the easiest solution for now.

Regarding the `Eigen/Geometry` stuff. I don't believe it is ever going to get added to pybind11. It doesn't fit the purpose of the

[2020-12-19 19:12] artivis commented on #187
Really, ideally `manif` should support both but that's a heavy change which I'd like to address at the same time as other changes proposed [here](https://github.com/artivis/manif/issues/116#issuecomment-589395204). So not anytime soon I'm afraid.

Concerning `Eigen/Geometry`, I understand what you are saying. But I also don't think that their place is in `manif` for the very same reasons you raise

[2020-12-23 03:17] lianbin opened #191 "Where is SE3d defined?"
Where is SE3d defined? I can't find it .(>﹏<)

[2020-12-23 08:20] #191 closed

[2020-12-23 08:22] lianbin commented on #191
^_^

[2020-12-24 02:00] lianbin opened #192 "How to prove Formula 33? In the paper."
![image](https://user-images.githubusercontent.com/7082568/103050226-cecc3100-45ce-11eb-8988-bc5f7cd37285.png)

[2020-12-24 02:55] pettni commented on #192
For any tau,
![](https://latex.codecogs.com/gif.latex?\textbf{Ad}_X&space;\textbf{Ad}_{X^{-1}}&space;\tau&space;=&space;\textbf{Ad}_X&space;\left(&space;X^{-1}&space;\hat&space;\tau&space;X&space;\right)^\vee&space;=&space;(X&space;X^{-1}&space;\hat&space;\tau&space;X&space;X^{-1})^\vee&space;=&space;\tau).

[2020-12-24 03:05] lianbin commented on #192
Oh,thank you ,my brother.  so smart you are!

[2020-12-24 03:05] #192 closed

[2020-12-29 09:36] lianbin opened #193 "why the variance is infinite？"
There is a paragraph in the paper   "For example, a 3D orientation that is known up to rotations in the horizontal plane can be associated to a covariance ![image](https://user-images.githubusercontent.com/7082568/103274143-e9057500-49fb-11eb-99fe-32ea09f3837a.png)"。 Can someone explain why the variance is infinite？？

[2020-12-29 10:13] joansola commented on #193
In the global frame, the third of these numbers corresponds to the variance of the Yaw angle. Since this angle is unknown, its variance can be set to infinity.

[2021-01-08 03:21] artivis opened #196 "autodiff (library) support"
Make sure `manif` supports [`autodiff`](https://github.com/autodiff/autodiff/) and add some tests.

See discussion [here on](https://github.com/artivis/manif/pull/194#issuecomment-753373237).

[2021-01-08 12:28] GiulioRomualdi opened #197 "Add the possibility to retrieve the linear and angular part of the SE3::Tangent object"
In the `SE3` class there are some methods that allow the user to extract the rotation and translation element from an SE3 object

https://github.com/artivis/manif/blob/10e1529d03a73c41832be8b811a68ef58848dde4/include/manif/impl/se3/SE3_base.h#L127-L140

These kinds of methods are missing in SE3::Tangent.

If you are interested in having this feature I can propose a PR

[2021-01-08 12:33] pettni opened #198 "No skew function available for custom scalar types"
Custom scalar types don't necessarily specialize ```std::is_arithmetic``` (doing so in isolation seems to cause a host of other problems in some cases). This causes a problem with the SFINAE ```skew``` functions.

Example:
[code]

[2021-01-08 12:57] artivis commented on #197
The class `SE3Tangent` has the getters [`BlockV v()`](https://github.com/artivis/manif/blob/10e1529d03a73c41832be8b811a68ef58848dde4/include/manif/impl/se3/SE3Tangent_base.h#L108) and [`BlockW w()`](https://github.com/artivis/manif/blob/10e1529d03a73c41832be8b811a68ef58848dde4/include/manif/impl/se3/SE3Tangent_base.h#L112) - soon to become `linVel` and `angVel` in https://github.com/artivis/manif/

[2021-01-08 12:59] artivis commented on #198
For reference, a possible solution is drafted in [this comment](https://github.com/artivis/manif/pull/194#discussion_r551940788).

[2021-01-08 14:04] #193 closed

[2021-01-08 16:52] GiulioRomualdi commented on #197
It's actually what I was looking for! Thank you very much!

[2021-01-08 16:52] #197 closed

[2021-01-14 03:23] #198 closed

[2021-02-04 12:20] GiulioRomualdi commented on #187
Hi all, Sorry to jump in.
In `bipedal-locomotion-framework`  (a library we are developing in the DIC lab) we start working on Python bindings as well https://github.com/dic-iit/bipedal-locomotion-framework/pull/134

In this [file](https://github.com/dic-iit/bipedal-locomotion-framework/blob/master/bindings/python/BaseTypes.cpp), you could find a working example of `pybind11` with `manif::SE3d` obj

[2021-02-04 12:39] artivis commented on #187
Hi @GiulioRomualdi,
Thanks for the links. Note that Python bindings for `manif` are already implemented using `pybind11` in https://github.com/artivis/manif/pull/179. This PR is somewhat ready to merge, I only need to find time to clean it up a little.

[2021-02-14 18:54] #187 closed

[2021-02-27 02:29] yangzhen1031 opened #204 "impl/eigen.h"
IN assert_cols_dim(x,dim)
assert(x.cols()==dim && ''x.rows != ''#dim '', '');
Determine cols , hint is about rows!

[2021-02-27 15:37] artivis commented on #204
Hi, thanks for reporting :+1: .

[2021-02-27 16:42] #204 closed

[2021-02-28 22:03] pettni commented on #142
I'm taking the freedom to hijack this issue to pose a related question: why have a ```manif``` tangent type at all? To me it seems that defining the tangent type as ```Eigen::Matrix<Scalar, DoF, 1>``` would come with some benefits at a fairly small cost:

Pros:
 * Significantly less of code required in the library
 * Get all Eigen methods (such as ```transpose()```) for free
 * Get Eigen lazy eval

[2021-03-01 00:26] artivis commented on #142
Allow me to start by being skeptical; I don't quite buy the performance boost argument. I'd need to see actual, significant, numbers.
For instance, the lazy evaluation would only happen for functions that are implemented on the Eigen side since functions that are implemented by manif does not take care of that. I hope to be able to provide some similar mechanisms past #150 but that's truly a lot o

[2021-03-01 01:47] pettni commented on #142
Appreciate the response!

Yeah I'm aware of ```Sophus``` and have used it extensively, I overall like ```manif``` better but this may be the one thing I prefer with ```Sophus```... :) Also agree that it would be useful to see some numbers for the lazy eval "benefit", my information is based only on reading previous comments in this thread.

Regarding generic programming, unless I am mistaken a sim

[2021-03-01 07:48] shanpenghui opened #205 "Can it support c++14?"
I use c++14 to run slam used eigen, g2o and pcl on ubuntu20, but i still can not find a library support c++14, can this lib do that?
Sry for that if disturb because i know this lib very little. I'm very appreciate if somebody can help. Tks very much.

[2021-03-01 13:16] artivis commented on #205
`manif` is written in c++11, it can thus be used with c++14. Please refer to the [online documentation](https://artivis.github.io/manif/cpp/index.html) to see how to use it with your own project.

[2021-03-01 13:16] #205 closed

[2021-03-12 16:09] yangzhen1031 opened #208 "Jacobian Block In Left Plus"
In Left Plus,
![image](https://user-images.githubusercontent.com/58388189/110965580-49674a00-838f-11eb-8004-7cb16982b4a0.jpeg)

Tangent space is expressed in the global frame, why in code (Lie_group_base.h)

J_mout_t = inverse().adj()*rjac();

not

J_mout_t = inverse().adj()*ljac();

?

[2021-03-12 16:34] artivis commented on #208
Hi,

in manif, all Jacobians are differentiated with respect to a local perturbation on the tangent space, as stated in [the documentation](https://artivis.github.io/manif/#autotoc_md7). We do that for consistency purpose.

There is no plan right now to implement Jacobians wrt a global perturbation altho it is discussed in #116.

This being said, keep in mind that the adjoint matrix (`x.adj()`) li

[2021-03-12 23:49] #208 closed

[2021-03-15 16:20] GiulioRomualdi opened #209 "Add the possibility to install the python bindings"
Hi @artivis! First of all, thank you very much for developing the python bindings. They are really useful.

As far as I understood, there seems that the bindings are not currently installed. I can easily propose a minimum change in the CMake file to install the bindings.

[2021-03-15 16:23] GiulioRomualdi opened #210 "[manifpy] Add the possibility to easily set quaternion and translation in an SE3 object"
This issue is really similar to https://github.com/artivis/manif/issues/160 however this time the request is in `manifpy` :smile:

[2021-03-15 17:41] artivis commented on #209
Hi @GiulioRomualdi,
Glad to see that the Python binding is useful.

As of now, the Python binding is meant to be installed through `pip`; from the [online doc](https://artivis.github.io/manif/python/index.html):
[code]
Actually, the `setup.py` file invokes the `CMakeLists.txt`. Thus I'm afraid your PR #211 will introduce issues in its current state.

[2021-03-15 18:04] GiulioRomualdi commented on #209
Hi @artivis I've just installed `manifpy` from pip and everything went fine. Thank you!
I think we can close the issue

[2021-03-15 18:24] #209 closed

[2021-03-15 19:58] artivis opened #212 "[CI] fix cppcheck"
Github actions `ubuntu-latest` just upgraded from 18.04 to 20.04 thus `cppcheck` also upgraded from 1.82 to 1.90.
This unearthed a couple warnings/errors (see [here](https://github.com/artivis/manif/runs/2115639797?check_suite_focus=true)).

[2021-03-16 01:20] #212 closed

[2021-03-16 21:57] #210 closed

[2021-03-17 13:00] adas-dev opened #215 "Do you plan to incorporate a notion of frames into the manif library?"
Dear manif-library creators,

Do you have any plans to implement compile-time coordinate frame semantics checking as it is done in the project https://github.com/wavelab/wave_geometry?

I was pondered by an idea of compile time coordinate frame checking for quite a while and even written some prototype code. But then I have found the mention of `wave_geometry` in one of your papers: https://www.th

[2021-03-17 15:32] artivis commented on #215
Hi,

Altho interesting, there is no plan to develop such feature in `manif`. I have a limited bandwidth for this project and there are other priorities I'd like to get done. This being said, I can provide *some* support shall you want to take a shot at implementing it.

May I ask, from which library would you be migrating?

[2021-03-17 16:25] adas-dev commented on #215
I mostly used an OpenVINS (https://github.com/rpng/open_vins/) codebase for my research. The pure Eigen types are used there, so *I am planning to migrate from Eigen :-)*.

Not knowing much about the existence of specific well-tested libraries out there interoperable with pure Eigen types I started implementing my own classes that derive from Eigen types and represent spacial primitives. The goal

[2021-03-17 16:25] #215 closed

[2021-03-17 23:07] artivis commented on #215
Thank you for your feedback and good luck with your research :+1:

[2021-03-19 12:45] chpohl opened #216 "Support for float type"
I am using manif for some computations in an existing project which is entirely working with fp32 numbers. However when I use they float type with any operations in manif, I more or less randomly (but very frequently) get the exception

[code]
This exception stems from the hardcoded eps for the double precision type in constants.h. Is it at all possible for you to support other types than double (

[2021-03-19 14:53] artivis commented on #216
Hi,

Thanks for the feedback. This was reported in #171 already, I guess should take care of it :sweat_smile: .

[2021-03-21 16:40] #171 closed

[2021-03-21 16:40] #216 closed

[2021-03-21 17:02] joansola opened #218 "Cannot compile se2_localization_liekf.cpp on osx with clang"
Compiler
[code]

Error
[code]

[2021-03-22 12:55] artivis commented on #218
This should be fixed now (macOS CI went through).

[2021-03-22 16:27] joansola commented on #218
fixed. thanks!

[2021-03-30 21:13] tenneck opened #220 "Lie group way for visual-inertial sensor fusion"
Good evening,

I've been working with quaternions for quite a while now and also have been using those for visual-inertial sensor fusion. More specifically, I used an quaternion EKF with error-state representation.

This project has caught my attention a couple weeks ago and I was trying to get the ideas of Lie groups and algebra. Although I was initially focusing on just getting an understand of

[2021-03-30 21:34] artivis commented on #220
Hi,

If you are rocking an IMU you'll probably want to use SE_2(3) for your visual-inertial algorithm. But really that's up to you and how you formalize your problem.

As for references, I'll assume you had a look at [our paper accompanying this library](https://arxiv.org/pdf/1812.01537.pdf) for an introduction to Lie theory. As for the SE_2(3)-based visual-inertial bit, the paper ["Invariant Kalm

[2021-03-31 19:53] tenneck commented on #220
Hi Jeremie,

thanks for the very fast reply. I did have a look at your paper, which is very helpful as a starting point. I'll have a look at the other paper you mentioned.

Once I get to free up some of my time I'll start implementing a SE_2(3) based visual-inertial algorithm. I might come back with either questions or contributions.

Best,
T

[2021-03-31 19:53] #220 closed

[2021-03-31 23:49] ojura opened #221 "`CeresObjectiveFunction` residual should be of dimension 6"
Why do we take the norm of the residual from the target group element in `CeresObjectiveFunction`? This makes the residual a scalar, effectively limiting the solver's steps to a gradient descent.

I see there are some TODOs in there for implementing custom Jacobians, which is nice :)

But just returning the residual as the result of a left/right minus (maybe the average of the two?) of dimension 6

[2021-04-01 21:46] artivis commented on #221
Hi,

First of all, note that those Ceres helpers are meant to be some reference implementations for generic (template) wrappers more than plug-n-play prod-ready bits. They exists only to showcase how one can design such generic wrapper for one's own application. As such `CeresObjectiveFunction`'s cost is a scalar while `CeresConstraintFunctor`'s cost is a vector. From there you should implement yo

[2021-04-02 13:59] ojura commented on #221
Hi, thanks on a quick response and for clarifying the readiness level! Being Jet/autodiff compliant is a huge benefit in terms of code clarity and simplicity, and in being able to rapidly prototype different cost functions. I haven’t yet encountered a scenario where I would have to write custom analitical Jacobians because of performance, and I hope I won’t :)

That being said, I wanted to ask one

[2021-04-02 22:23] #221 closed

[2021-04-07 17:24] #218 closed

[2021-04-20 08:19] lianbin opened #223 "ljacinv"
https://github.com/artivis/manif/blob/devel/include/manif/impl/so3/SO3Tangent_base.h#L214
accroding to:
![image](https://user-images.githubusercontent.com/7082568/115362150-d3f36280-a1f3-11eb-8ffc-b32160b55815.png)

  if (theta_sq <= Constants<Scalar>::eps_s)
    return Jacobian::Identity() + Scalar(0.5) * W;

Should be changed to

  if (theta_sq <= Constants<Scalar>::eps_s)
    return Jacobian::I

[2021-04-20 09:44] joansola commented on #223
Yes it seems so! Thanks for pointing this out!

On Tue, Apr 20, 2021, 10:20 lianbin ***@***.***> wrote:

[2021-04-24 21:05] #223 closed

[2021-04-27 10:18] Shubodh opened #225 "Understanding initialization of SE2Tangent in se2_sam.cpp"
FINAL EDIT:
**Summary of our discussion**: The primary issue was my incorrect understanding of `u = (vx*dt, 0, w*dt)` in se2/3_sam.cpp ([line 51](https://github.com/artivis/manif/blob/devel/examples/se2_sam.cpp#L51)). Joan has clarified it [here](https://github.com/artivis/manif/issues/225#issuecomment-828561605). Also, if you're using a representation like g2o format, you might want to take a loo

[2021-04-27 11:15] joansola commented on #225
Dear Shubodh, maybe I understood you incorrectly but I do not see where the example is wrong. We DO consider the vector `u` of controls to be a `tau` vector in se3. Then, we use it as such in [L377](https://github.com/artivis/manif/blob/287c71e271c6299cf330daa82dd9ce0166f81c87/examples/se2_sam.cpp#L377), where be aware that the symbol `+` has been overloaded with the function `rplus`, thus doing
[

[2021-04-27 11:29] Shubodh commented on #225
Thank you for your quick reply Joan. I understand that once `u` is initialized correctly to be a `tau` vector, then there are no issues with what comes later such as overloading `+`. But I feel in the example `se2_sam.cpp`, the way it should be initialized is written in a misleading way (Please point out if I am wrong):

When we say `u = (vx*dt, 0, w*dt)` in [line 51](https://github.com/artivis/ma

[2021-04-27 11:34] joansola commented on #225
But we are not referring `u` as  a delta vector, which would be in SE3, but as a tangent vector, which is in se3. Where does this confusion come from? From anywhere in the paper / in manif / in the se2sam file?

If g2o provides deltas, then convert them to tangents with `tangent = log(delta)`

[2021-04-27 11:37] joansola commented on #225
see this in [L47](https://github.com/artivis/manif/blob/287c71e271c6299cf330daa82dd9ce0166f81c87/examples/se2_sam.cpp#L47) stating `u` is in se2

[code]

[2021-04-27 11:53] joansola commented on #225
this `(vx*dt, 0, w*dt)` IS a tau vector

[2021-04-27 13:35] artivis commented on #225
I think maybe @Shubodh 's issue comes from the confusion between `SE2/se2` and `Tn x SO2/ tn x so2`. Please have a closer look at [Example 7 in the paper](https://arxiv.org/pdf/1812.01537.pdf) that should help clarify.

[2021-04-27 14:19] artivis commented on #225
It may be handy to provide `TnSO2Tangent` in `manif` and have it operate seamlessly with `SE2`, e.g. in pseudo-code:

[code]

It is not as proper as implementing both the group and tangent but since only the tangent parameterization differs, it likely more practical.

[2021-04-28 12:32] Shubodh commented on #225
Grateful for your time @artivis and @joansola. Please bear with me, let me clarify my source of confusion:

Before we get to our problem, I feel there is a typo in eqns 157 and 173. On the RHS of the equation, there is "p", instead of which there should be "t" which is translation from equation 152. It should be
![image](https://user-images.githubusercontent.com/31179190/116401620-13036280-a849-11

[2021-04-28 13:37] artivis commented on #225
Hi @Shubodh,
Again, I have the feeling that you are looking for something that is not there. Have you carefully read [Section IV and especially Example 7](https://arxiv.org/pdf/1812.01537.pdf)?
If you do so you will realize that `SE2Tangent(dx, dy, dt) != T2SO2Tangent(dx, dy, dt)` or in your wording 'tau vector != delta vector'. They both are in tangent spaces (increments) but different spaces. Th

[2021-04-28 15:43] joansola commented on #225
The reason `(dx, dy, dt)` is tau vector is because of this:

`v = (vx, vy, w)` is a vector of velocities, therefore tangent to the group.

`v*dt` is vector*scalar, therefore in the same space as `v`, and parallel to it.

Therefore, `v*dt` is tangent to the group, ie is a tau vector. If you do `v*dt:=(dx, dy, dt)` then `(dx, dy, dt)` is a tau vector

The fact that you can construct a delta as eleme

[2021-04-28 16:20] joansola commented on #225
@artivis I think in this case the issue is not exactly about R2xSO2, although it is quite similar.

In any case, @Shubodh, try to see where the confusion is. If my comment above is just what you need, then we can call it done. If not, we can go on with the discussion. Thanks!

[2021-04-28 19:55] joansola commented on #225
Effectively, in 157 should be `t` and not `p`. Thanks for pointing this, I-ll fix it right now

[2021-04-29 10:21] Shubodh commented on #225
Thanks a lot for your time Jeremie and Joan. [Joan's reply](https://github.com/artivis/manif/issues/225#issuecomment-828561605) clarifies my doubt. I am looking at Example 7 as well & will revert if I face any issues understanding it but for now, my main doubt is cleared. Closing the issue.

[2021-04-29 10:21] #225 closed

[2021-05-05 13:45] diegoferigo opened #228 "Distribute Python `sdist` through PyPI"
I'm very glad to see that Python support https://github.com/artivis/manif/issues/187 has been introduced recently in https://github.com/artivis/manif/pull/201 (previous https://github.com/artivis/manif/pull/179).

I'm opening this issue to discuss / propose the possibility to support distributing the project through PyPI. For those that are not very familiar with the process, there are few increme

[2021-05-05 22:10] artivis commented on #228
Hi @diegoferigo,

Thanks for the detailed break down of releasing in PyPi. To immediately answer this ticket, yes a PyPI release is on my todo list and I have briefly looked into it at the time of developing #201 (mainly [this tutorial](https://realpython.com/pypi-publish-python-package/#publishing-to-pypi)). However there are a couple open PRs that I'd like to land before issuing a new tag and re

[2021-05-06 07:33] diegoferigo commented on #228
Great! No problem, do as many attempts as you prefer. One advice I can give you is to always use the testing index [test.pypi.org](https://test.pypi.org/) instead of the official one during your early experiment. In fact, if you create a new package in the official index and push by mistake a wrong version, you are not allowed to override it. You can delete it, but then you have lost the usage of

[2021-05-16 10:24] diegoferigo commented on #228
For future reference, I've found another explanation of the inclusion of headers / libs / targets etc inside the wheel in [pybind's documentation](https://pybind11.readthedocs.io/en/stable/compiling.html#pep-518-requirements-pip-10-required).

[2021-05-26 15:28] wly2014 opened #229 "The calculation of P in Python file"
sorry, I have a very simple question. Why the calculation of `P` in manif/examples/se2_localization.py line 205 is `P = J_x * P * J_x.transpose() + J_u * U * J_u.transpose()`, but not `P = J_x @ P @ J_x.transpose() + J_u @ U @ J_u.transpose()`?

[2021-05-26 17:53] joansola commented on #229
Uhm, good point! I think it should!

On Wed, May 26, 2021, 17:29 wly ***@***.***> wrote:

[2021-06-08 10:12] traversaro opened #230 "Any plan for tag 0.0.4 ?"
Hi @artivis,
    first of all, sorry for bothering you and thanks as usual for the library. : )

Do you have any plan of doing a tag out of the current master branch, for example creating a 0.0.4 tag? For several reasons, for us (i.e. https://github.com/dic-iit) it would be quite convenient to have a tag after https://github.com/artivis/manif/pull/190, so that we can easily target from the same co

[2021-06-08 14:45] artivis commented on #230
Hi,
you're not bothering at all. I'm always happy to see this lib being used :+1:.

I was actually hopping to get #207 through before releasing a new tag but I could also tag now. I'll look at it asap.

[2021-06-08 14:56] traversaro commented on #230
Thanks! For what regards https://github.com/artivis/manif/pull/207 I do not know what @GiulioRomualdi is thinking about, given that I don't think a new release of tl-optional is happening soon (see https://github.com/TartanLlama/optional/issues/46), probably we could just import the latest one from the master branch, as this should solve the CI failure.

[2021-06-08 15:24] artivis commented on #230
Indeed refreshing the TartanLlama/optional src file together with addressing the couple suggestion I made would do.
But this isn't blocking in any ways; I'll tag manif some time this week.

[2021-06-11 11:56] GiulioRomualdi commented on #230
#207 should be ready 😃

[2021-06-14 22:08] artivis commented on #230
Tag [0.0.4](https://github.com/artivis/manif/releases/tag/0.0.4) is out!

[2021-06-14 22:08] #230 closed

[2021-06-15 06:44] traversaro commented on #230
Thanks a lot @artivis !

[2021-06-15 09:41] GiulioRomualdi opened #232 "Wrong version in the CMakeLists.txt"
Hi @artivis,  first of all, thank you for releasing version `0.0.4`.

I've just noticed that even if the latest version is `0.0.4`. However, the  `cmake` project version is still `0.0.3`.

https://github.com/artivis/manif/blob/0d42c2de1a34628ca9044b1f2e4dd17bbfead904/CMakeLists.txt#L4

[2021-06-15 09:46] GiulioRomualdi commented on #232
The `package.xml` file contains also the wrong version

https://github.com/artivis/manif/blob/0d42c2de1a34628ca9044b1f2e4dd17bbfead904/package.xml#L4

[2021-06-15 11:49] artivis commented on #232
Hi,

indeed the tagging is partially messed up, something went wrong with the script I'm using.
If you `git checkout 0.0.4`, the `package.xml` has the correct version but not the `CMakeLists.txt`. However they both have the proper version on the `master` branch...
Gonna fix that manually.

[2021-06-15 12:02] artivis commented on #232
This is now fixed on tag 0.0.4:

[code]

[2021-06-16 12:52] #232 closed

[2021-07-21 21:53] #84 closed

[2021-09-25 20:09] artivis commented on #143
I'm introducing the `operator[](i)` in #237. Maybe this can closes the ticket?

[2021-09-26 00:29] markusgft commented on #143
Fantastic, please close! Thanks.

[2021-09-26 13:14] #143 closed

[2021-09-26 13:14] #196 closed

[2021-09-28 21:31] artivis commented on #116
@joansola I've been revisiting this topic and the conclusion is that the designed I proposed a while back (see below) is basically not doable without giving up the use of `Eigen::Ref` for jacobians arguments, which I believe is something we must keep.

Not doable:
[code]

So back to api design discussion... I really don't know what's best here;

- In the CMAKE step
- As a runtime function `manif::

[2021-10-02 17:42] artivis opened #239 "Failing unit test"
A unit test is failing (rather rarely) with the following,

[code]

This concerns both `SO3f` & `SO3d`.

Seeing how `state_pert` and `state_lin` are pretty much appart by a factor `-1`, there might be an angle issue somewhere.

[2021-10-15 09:06] yangzhen1031 opened #241 "function skew() instances in "manif/impl/eigen.h""
For Eigen dynamic object, function skew() for 3D don't be instanced,  below is better
[code]

[2021-12-09 22:36] LucosidE opened #242 "Bundle does not compile with Visual Studio"
I am running into a problem building using Visual Studio.
The error is as follows:
`manif/impl/bundle/Bundle.h(21): error C2947: expecting '>' to terminate template-argument-list, found '<'
`
Line in question is
`  using Elements = std::tuple< _T<_Scalar> ... >;
`
My experience with templates is very limited, any help is appreciated.

Thank you.

[2021-12-10 13:09] artivis commented on #242
Hi,
Thanks for reporting. I am aware of this issue and spent some time investigating it in the past. Unfortunately I don't have a Windows machine at hand which makes it difficult to properly debug.
In the meantime, if you do not need the Bundle class, you can simply comment it out in the CMake files.

[2021-12-10 13:14] artivis commented on #241
Hi,
Thanks for reporting. I'll address this issue asap.

[2021-12-10 15:26] LucosidE commented on #242
Thanks for such a quick reply,

I was hoping to use Bundle, its a fantastic way to combine elements into a larger group and I really like that all the sizes get determined at compile time. I think the performance should be really good.

I'll poke around and try to get MSVC working. If you have any insights please let me know.
Cheers.

[2022-03-21 09:08] Richardson-Chong opened #246 "the lack of libproject"
Thx for your excellent projects.
Here's a problem that when I try to compile test or examples, it always shows that
**/usr/bin/ld: cannot find -lProject**
and I can't figure out what dependencies or library to install. Can you give any advice? Thanks a lot !

[2022-05-16 14:51] xianlopez opened #247 "Small angle approximation for SO3 right and left Jacobians"
Hi. First of all thanks for the great paper and this C++ library.

I was trying to implement the right Jacobian of SO3 myself and realized that equation 143 is not well defined for theta = (0, 0, 0). Looking at the implementation in this library I see that you do an approximation when the vector is small. However, that's not mentioned in the paper (or I couldn't find it). Could you please explain

[2022-05-16 20:55] joansola commented on #247
To find small-angle approximations, substitute sin(theta) and cos(theta) by their Taylor expansions, cancel the terms with those in the denominator, and truncate the remaining terms at the desired length.

For example t e following term appearing in the right Jacobian:
[code]

You proceed akin with the other term `(a - sin(a) ) / a^3`

[2022-05-17 14:05] xianlopez commented on #247
Aha, that makes sense, thanks for the quick answer!

The term `(a - sin(a)) / a^3` gives me `1/6`, but I guess that's ignored because it multiplies a quadratic term, `[theta]_x^2`, right?

[2022-05-17 14:11] joansola commented on #247
Yes, you would get (I might have put the signs wrong)
[code]
and you may decide to truncate before the quadratic term -- this is up to you.

[2022-05-17 15:19] #247 closed

[2022-07-01 20:11] #241 closed

[2022-07-03 01:28] #229 closed

[2022-07-24 00:56] joansola opened #254 "Documentation cover page looks bad in dark mode"
In particular, the LaTeX symbols in the features table, which are black, are not visible if the browser is in dark mode.

[2022-07-24 00:57] joansola commented on #254
Like so:
<img width="679" alt="image" src="https://user-images.githubusercontent.com/2467261/180627738-abce3236-45ce-42bd-bd99-879b1f1695b3.png">

[2022-07-24 16:07] artivis commented on #254
Hi @joansola,
I'm aware of this issue, but afaik there isn't a way to detect whether the browser is in light or dark mode in this context. The only solution would be to pick a font color that work for both mode.
I've already addressed this issue in the past for the website using [this script](https://github.com/artivis/manif/blob/294fe4fd2c0c23ef6800e8d29cf7660e2ef1126a/docs/fix_latex_color.sh).

[2022-07-24 16:15] joansola commented on #254
Is the script changing the color of the latex object?

Is the documentation compiling the latex from source every time you refresh the screen, or that you renew the browser cache?

If so, one could try to detect color mode (e.g. "background" property "color") and pick a color that contrasts really.

e.g. `latex_color = [255,255,255] - bkgnd_color`

or `latex_color = bkgnd_color + [127,127,127] mod

[2022-07-24 16:16] joansola commented on #254
otherwise, a color [127,127,127] should do for all cases....

[2022-07-24 16:47] artivis commented on #254
The script simply sets the latex font color to `white`. There is no way to figure out the website background color afaik.
As for the latex code, it is rendered by a third-party website (https://latex.codecogs.com/) in svg and embedded in markdown as an image. Altho Github [recently introduced native Latex support](https://github.blog/2022-05-19-math-support-in-markdown/) so this could be revisited

[2022-07-24 16:48] joansola commented on #254
yep, color gray should be the fix. I think it'll be visible. May we try?

[2022-07-24 16:49] joansola commented on #254
Otherwise, print the table with all the functions with a known background color, then do the latex in black or white according to the chosen background of the table...

[2022-07-24 16:53] artivis commented on #254
It is a markdown table, can't really set the background. Anyway I'll see how to fix that :+1:

[2022-07-24 16:53] joansola commented on #254
OK then gray is the way

[2022-08-02 13:34] joansola opened #256 "Links for c++ examples broken in documentation"
In the documentation page:

https://artivis.github.io/manif/cpp/index.html

the links for the c++ examples are broken. For example, the link for the se2_localization.cpp file states:

https://artivis.github.io/manif/cpp/examples/se2_localization.cpp

while the true link should be e.g.:

https://github.com/artivis/manif/blob/devel/examples/se2_localization.cpp

maybe changing `devel` by some other

[2022-08-16 16:11] knightshrub opened #258 "Motivation for the ESKF in the paper example"
Hello Jeremy and Joan,
first of all, thank you for the great overview paper and library! It really allowed me to get a quick overview of the most important ideas behind Lie groups even though I had never heard of them before!

As someone who is quite new to robotics and state/pose estimation, I'm wondering what the motivation for using an error-state KF instead of a regular EKF is for the localiza

[2022-08-16 16:49] joansola commented on #258
As per adding velocities, no problem. You have many options, but two are the main lines:

1. SE(3) x R6
2. R3 x SO(3) x R3 x R3

1. You can proceed as so

[code]

2. You can proceed as so
[code]

3. Also, you  can make use of the `Rn` groups in Manif, and the `Bundle` to build a composite state. Again, you have the two flavors:

X \in <SE3, R6>

X \in < R3, SO3, R3, R3>

[2022-08-18 18:17] knightshrub commented on #258
Hello Joan,
thanks for the clarification!

I'll think some more about a possible implementation for my use case. Alas, bundles don't seem to be supported by the Python bindings, but I think I can manage without them.

[2022-08-18 18:17] #258 closed

[2022-08-18 23:11] artivis commented on #258
@knightshrub you may be interested in giving a look at [kalmanif](https://github.com/artivis/kalmanif). It is a project that turns the manif filtering examples into more reusable code.

It doesn't quite support `Bundle` yet, I started the integration on the `feature/diff_drive` branch plus it has no Python bindings....

[2022-08-24 07:52] sadsimulation commented on #258
Hi from a different github account!
I came up with a formulation of my problem using the notation of your paper using the suggested solution of SE(2)xR3 as described in [this document](https://cloudstore.uni-ulm.de/s/rD8YrZyx9zHJpT5).
I modeled the system noise as random accelerations in the local tangent space. Does the derivation of the Jacobians for the prediction step and the update using a tw

[2022-08-24 08:12] joansola commented on #258
Looks good to me!

Only beware of the covariance of the perturbation when passing from continuous time to discrete time. Please read Appendix E in here: https://arxiv.org/pdf/1711.02508.pdf